<p>When he drifts off to sleep at night, the nation’s No. 1 college football recruit doesn’t picture himself eluding tacklers on a long, electrifying touchdown run. When he closes his eyes, he doesn’t hear the monotone voice of Alabama head coach Nick Saban or the lively pitch of Michigan’s Jim Harbaugh.</p>

<div id="infobox">
    <p>Editor’s note:</p>
    <p>Antioch High School senior running back Najee Harris is the consensus No. 1 college football recruit in the country. Read <a href="http://projects.sfchronicle.com/2016/najee-harris/">Chapter 1</a>, <a href="http://projects.sfchronicle.com/2016/najee-harris/teammates/">Chapter 2</a> and <a href="http://projects.sfchronicle.com/2016/najee-harris/the-opponent/">Chapter 3</a> of "The Najee Chronicles."</p>
</div>

<p>Most nights, as Najee Harris’ head hits the pillow in his Antioch apartment, he’s listening to words of guidance and encouragement from Les Brown, a renowned motivational speaker. Harris, through his iPhone, contemplates Brown’s uplifting messages.</p>

<p><i>Take action in order to move toward your goals …</i></p>

<p><i>Say your dream is possible and then overcome all inconveniences, ignore all the hassles and take a running leap through the hoop, even if it is in flames …</i></p>

<p><i>Be determined to handle any challenge in a way that will make you grow …</i></p>

<p>Even if he’s the most coveted prep prospect in the country, a running back poised to make an immediate splash on college fields next fall, Harris craves these positive vibes. As he deals with pressures in his football life — his Antioch High team depending on him, opponents swarming him, college coaches chasing him — he also copes with anxiety off the field.</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11330901/5/1000x1000.jpg">
  <p class="caption">Najee Harris visits with his mother, Tianna Hicks, on the field after his Antioch Panthers fell 28-21 to the De La Salle Spartans in Concord. <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>This stretches deeper than a full plate of schoolwork, as Harris tries to complete his studies and graduate in January so he can enroll early in college and participate in his team’s spring football practice. He lives in a neighborhood where crime is constant. And he’s ever aware, as an 18-year-old African American man, of the reality of racial injustice, an issue 49ers quarterback Colin Kaepernick has lifted into the national conversation through his ongoing protest of the national anthem.</p>

<p>All the while, Harris finds himself engulfed in occasionally uncomfortable attention. His mom, Tianna Hicks, stores three large gift bags full of recruiting letters in her room, close to 500 in all. Harris often talks to two or three college coaches in a day, usually via FaceTime.</p>

<p>Hicks, an upbeat woman who wears Harris’ No. 2 jersey to most Antioch games, can sense when the youngest of her five children is becoming stressed. That’s when they’ll retreat to her room for a mother-son chat. She offers reassurance, in part, by calling him “buddy,” a habit tracing to his younger days when he traipsed everywhere with her and she began referring to him as “my little buddy.”</p>

<p>He also tries to relax by playing Xbox or watching movies. But nothing calms Harris more than listening to Brown, a former Columbus, Ohio, disc jockey who has built an empire with his straightforward, powerful motivational speaking.</p>

<p>Harris listens to Brown at some point every day — sometimes while cleaning up around the apartment, sometimes while taking an ice bath after a workout and routinely while nodding off to sleep.</p>

<p>“That’s my dude right there,” Harris said. “It’s just this hard-ass time I’m going through. I can relate to Les Brown. … I just like his stories. He’s helped me a lot.”</p>

<div class="full-width-img">
      <img src="http://ww1.hdnux.com/photos/51/21/44/11327999/5/2000x2000.jpg">
      <p class="caption">Friends Ono Amanaki (left), James Vreonis, Jordan Vreonis, Vita Akolo, Najee Harris and Marquis Overton hang out after football practice at Antioch High. <span class="byline"> Michael Macor, The Chronicle</span></p>
  </div>

<p>There were bullet holes in the garage.</p>

<p>That’s what Hicks discovered when she and her family — which had bounced between the Bay Area and Seattle for years, weathering periods of homelessness — moved from Richmond to Antioch in the summer of 2013. The rent was cheap, and Hicks was trying to make it work again with the father of her kids; he struggled with drug and alcohol addiction and soon left. He now lives in Seattle.</p>

<div class="float-img-container">
    <div class="float-img right">
        <img src="http://ww1.hdnux.com/photos/51/21/44/11330989/5/1000x1000.jpg">
      <p class="caption">At age 12, Najee Harris poses with his sister Jahmila after being named homecoming king and MVP of his pee wee football league. <span class="byline"> Michael Macor, The Chronicle</span></p>
    </div>
</div>

<p>She didn’t realize the extent of crime in the Sycamore Drive area of west Antioch, but those bullet holes offered a stark early clue. Then, during their first few days living there, Harris was unpacking when he heard a commotion outside — and saw about 30 people fighting.</p>

<p>A couple of months later, by then in a different apartment, he heard a gunshot and walked onto the porch. He saw the shooting victim drop to the ground, wounded. Detectives soon surrounded the apartment building.</p>

<p>“At that point, it didn’t really scare me because you hear gunshots over and over again,” he said. “But it was the first time I saw somebody hit the ground. We were like, ‘Just another day in the hood.’”</p>

<p>Those words ring true, unfortunately. The Sycamore area is “heavy in narcotics, felony assaults and shootings,” according to Antioch police spokesman Matt Koch. It’s also a known gang area, Koch said.</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11331036/5/1000x1000.jpg">
  <p class="caption">Najee Harris grabs a bite to eat and searches Netflix for a movie to watch at his family’s home in Antioch after a day of school and football practice. <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>Harris’ small second-floor apartment — adorned with family mementos and including a tall, glass-front cabinet displaying his many football trophies — is a short walk from Antioch High, where head coach John Lucido knows all about the dangerous environment. Once, during a practice before Harris joined the team, Lucido heard the pop-pop-pop of a shooting down the street, then saw the gunman running toward the school.</p>

<p>Lucido quickly ushered players into the weight room and locked the door.</p>

<p>Harris insists that sort of violent crime has subsided somewhat in the past year; statistics on the Antioch police department website show a citywide decline of more than 20 percent in most violent crimes over the past three years. But that doesn’t mean it’s safe.</p>

<p>Even if Harris feels protected by his success in football — he said men selling marijuana on the street corner regularly say, “Wassup?” to him and gang members offer support, saying, “Keep doing your thing, man, you cool!” — his mother still frets. She knows he occasionally walks back to the Antioch field at night to work out, along unkempt streets and past apartment buildings with protective bars on most windows.</p>

<p>“Our neighborhood is not good,” Hicks said. “I worry about him walking after dark. That scares me. I’m scared of my neighborhood.”</p>

<p>As Harris navigates his complicated world off the field, he and his Antioch High teammates return to the business of football after their bye week. The Panthers (3-2), ranked No. 7 in the Bay Area, resume their season Friday night against No. 8 Freedom-Oakley after throwing a scare into mighty De La Salle-Concord on Sept. 23, falling 28-21 in a game aired on national television. Harris gained 132 yards on 32 carries.</p>

{% import '_components/_slideshow.html' as slide %}
  <div class= "photoGallery1">
    <div class="scrollLeft-Gallery1 first" id="scrollLeft-Gallery1"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    <div class="scrollRight-Gallery1" id="scrollRight-Gallery1"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    {{ slide.info(1,0,"11330919","active","Najee Harris (2) stands with his Antioch High teammates before their game against the De La Salle Spartans in Concord.", "Michael Macor" ) }}

    {{ slide.info(1,1,"11330932","","Antioch High’s Najee Harris stretches before the nationally televised game against De La Salle.", "Michael Macor" ) }}

    {{ slide.info(1,2,"11330918","","Tianna Hicks, in a yellow shirt, cheers for her son Najee Harris’ Antioch High team as it takes on the Spartans of De La Salle.", "Michael Macor" ) }}

    {{ slide.info(1,3,"11330921","","Najee Harris hugs De La Salle’s Tuli Letuligasenoa after the Panthers’ 28-21 loss.", "Michael Macor" ) }}

    {{ slide.info(1,4,"11330931","","Najee Harris walks off the field with his mother, Tianna Hicks, after Antioch High’s 28-21 loss to De La Salle in Concord.", "Michael Macor" ) }}

    {{ slide.info (1,5,"11330929","","Tianna Hicks looks at a portrait of son Najee Harris when he was about 9 years old at the family’s home in Antioch.","Michael Macor")}}

    {{ slide.info(1,6,"11330956","","Tianna Hicks loads up her gear before heading to Concord to watch her son, Najee Harris, and the Antioch Panthers take on De La Salle in Concord.", "Michael Macor" ) }}
    
    {{ slide.info(1,7,"11330922","","Najee Harris (seated) talks with classmate Kahleel Burks during a study period at Antioch High School.", "Michael Macor" ) }}
    
    {{ slide.info(1,8,"11330960","","Najee Harris is seen as a pee wee football player in Seattle at age 8 in a family photograph.", "Michael Macor" ) }}
    
    {{ slide.info(1,9,"11330962","","Najee Harris sits in his family’s home in Antioch after a day of school and football practice.", "Michael Macor" ) }}
  </div>

<p>He didn’t seem especially troubled by the loss, probably because his team played tenaciously and had a chance to win deep into the fourth quarter. Harris enters Friday night’s game with 1,074 yards rushing at the regular season’s halfway point, leaving him 134 from breaking Jahvid Best’s all-time Bay Area record of 6,379. (Best played at Salesian-Richmond in 2004-06.)</p>

<p>Next week, when Antioch hosts Liberty, another wrinkle comes into play: Harbaugh, the Michigan head coach, is planning to attend the game, hoping he can persuade Harris to flip his verbal commitment to Alabama and play in Ann Arbor instead.</p>

<p>Given Harris’ time in the national spotlight, even as a high school athlete, he’s cognizant of the swirling debate launched by Kaepernick of the 49ers. His refusal to stand for the national anthem before each game has made him a polarizing figure and attracted attention Harris feels he needs to avoid.</p>

<p>He’s already uneasy about dominating the headlines and relegating his teammates to the shadows. As much as he appreciates Kaepernick’s message, he does not plan to kneel during the anthem before Antioch’s games.</p>

<p>“I’m not ready for that yet,” Harris said. “I’m trying to shy away from the attention for now. They’d be asking me everywhere … but I support Kaepernick.”</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11327942/5/1000x1000.jpg">
  <p class="caption">High school football standout Najee Harris stands outside his family’s home in Antioch. <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>Harris has firsthand experience with some of the racial issues Kaepernick has raised. For instance, he long ago learned many people assume an African American man with dreadlocks is trouble. He cited at least two instances in which he felt profiled because of his race and look.</p>

<p>So recent police shootings of African American men resonated deeply. Harris might be the No. 1 recruit in the land, but he also realizes that in some respects he’s just another young black man in a tumultuous world.</p>

<p>“It makes you think, ‘Damn, it could happen to anybody,’” he said. “I don’t drive, but my brothers do. They could get pulled over anytime, so it just makes you think someone has got to do something.”</p>
