<p>On a scruffy side street in Antioch, in a storefront gym next to a hair salon, across from an auto parts store and within shouting distance of a bar named ABC Rendezvous, the No. 1 college football recruit in the country puts in his work.</p>

<div id="infobox">
    <p>Editor’s note:</p>
    <p>Antioch High School senior running back Najee Harris is the consensus No. 1 college football recruit in the country. Follow his story this fall in “The Najee Harris Chronicles,” a series of stories appearing in The San Francisco Chronicle and on <a href="http://sfchronicle.com" target="_blank">SFChronicle.com.</a></p>
</div>

<p>Najee Harris arrives at Malu Fitness in a good-natured mood on this mid-August morning. He wears a gray T-shirt with a USC logo and black gym shorts, and spends nearly as much time fiddling with the music — settling mostly on a mix of old-school rap and reggae — as he does lifting weights.</p>


<p>The scene offers a revealing portrait of Harris — equal parts diligent, big-time athlete and distracted, playful teenager.</p>

<p>He’s a muscular, 6-foot-2½, 226-pound running back with distinctive dreadlocks, a magnetic smile and all the powerhouse college football programs on his tail. Harris enters his senior year at Antioch High widely regarded as the nation’s top recruit, a ranking built on his size, elusiveness and power — not to mention 2,744 yards rushing and 36 touchdowns in his junior season.</p>

<p>The designation has earned him a slice of celebrity in our football-obsessed culture. It’s why he occasionally receives fan mail, mostly requests to autograph photos of himself dodging would-be tacklers. It’s why drivers he doesn’t know often honk when they see him, just to say, as he nonchalantly puts it, “Hey, wassup Najee?”</p>

{% include '_assets/colleges.html' %}

<p>Harris usually responds with a friendly wave, though he’s become more wary of strangers — especially those who decide to stop by his family’s apartment unannounced.</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10819918/5/2000x2000.jpg">
    <p class="caption">Antioch High School senior Najee Harris, who rushed for 2,744 yards and 36 touchdowns last season, works out with  trainer Marcus Malu in Antioch.<span class="byline"> Michael Macor The Chronicle</span></p>
</div>

<p>“People know where I live, so they just come to my house and knock on the door,” he says. “Random people ... I don’t care if it’s little kids, but adults? That’s kind of crazy. I’m like, ‘What the hell?’”</p>

<p>This is symptomatic of Harris’ increasingly tricky balancing act: chasing his football dreams while trying to remain a regular 18-year-old.</p>

<p>He finds a measure of refuge working out with Marcus Malu, the proprietor of the comfortable if modest gym on Walter Way. Harris has trained under his watchful eye since his freshman year, including virtually every day this summer.</p>



<p>Malu barks out encouragement as Harris moves casually from the bench press to resistance exercises designed to strengthen his hamstrings. The workout stretches for more than an hour, including the frequent musical breaks. Harris’ speed on the field — he runs the 40-yard dash in 4.5 seconds — doesn’t necessarily match his pace in the gym.</p>

<p>As Harris wraps up his workout, Malu reflects on his star pupil’s rising stature in his neighborhood. Antioch is a diverse but challenged city where incomes are low, crime is high and nationally renowned football players are rare.</p>

<p>“Najee can walk anywhere around here and nobody will touch him,” Malu says. “I believe everybody around this area of Antioch understands he’s the one bright light in a place where it’s dark.”</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10823566/5/2000x2000.jpg">
    <p class="caption">Antioch's Najee Harris (2) surpassed 200 yards rushing in a game six times last season and scored at least one touchdown in all 12 of his team’s contests.<span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>Big-name college coaches historically do not include Antioch High on their itineraries, but that’s changing.</p>

<p>Notre Dame head coach Brian Kelly stopped by after his team’s game at Stanford last November. Cal’s Sonny Dykes has visited. Assistant coaches from countless schools across the country have shown up to express their intense interest in Harris, a player anointed the No. 1 recruit by a number of prep rating services, including rivals.com, scout.com and maxpreps.com.</p>

<p>And then there’s Michigan head coach Jim Harbaugh.</p>

<p>On one of his two visits this year to Antioch High, the former 49ers coach sat in Principal Louie Rocha’s office, his feet propped on Rocha’s desk and his cap pushed back from his forehead as he chewed on licorice.</p>

<p>When Harris walked into the office, Harbaugh animatedly declared, “You’re a beautiful young man!” The room burst into laughter. He subsequently told Harris he should pursue a career in movies.</p>

<p>“It was kind of funny how he said it,” Antioch head coach John Lucido says. “It made Najee comfortable and kind of broke the ice with everybody.”</p>

{% import '_components/_slideshow.html' as slide %}
<div class= "photoGallery1">
  <div class="scrollLeft-Gallery1 first" id="scrollLeft-Gallery1"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
  <div class="scrollRight-Gallery1" id="scrollRight-Gallery1"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
  {{ slide.info(1,0,"10819875","active","Antioch High star Najee Harris gets ready for a practice this week as he and his teammates prepare for their 2016 opener this weekend against Lincoln High of Stockton. " ) }}
  {{ slide.info(1,1,"10827787","","Antioch High running back Najee Harris goes through a footwork drill during a recent practice." ) }}
  {{ slide.info(1,2,"10819898","","Antioch High coach Juan Corral and running back Najee Harris prepare for their opening game this Friday against Lincoln High of Stockton." ) }}
  {{ slide.info(1,3,"10827786","","Antioch High School running back Najee Harris works out during practice." ) }}
  {{ slide.info(1,4,"10827784","","Antioch High football player Najee Harris spots receivers coach Josh Bulla during a workout in the weight room." ) }}
  {{ slide.info(1,5,"10827785","","Antioch High’s Najee Harris (left center) and his teammates gather this week as they prepare for their opening game this Friday against Lincoln High of Stockton." ) }}
  {{ slide.info(1,6,"10819886","","Antioch High head coach John Lucido and running back Najee Harris check out the team’s new uniforms after a recent practice." ) }}
  {{ slide.info(1,7,"10823502","","Tianna Hicks takes a photo of her son, Antioch High running back Najee Harris, after the team’s victory over Amador Valley High in November." ) }}
</div>

<p>Harbaugh, Kelly and other coaches make the pilgrimage to Antioch even though two springs ago, after a sophomore season in which he ran for 2,263 yards and 23 touchdowns, Harris made a verbal commitment to Alabama during a visit to the school. They know the pledge is not binding, and Harris is still a prize to pursue.</p>

<p>More than 30 schools have extended scholarship offers, including most in the Pac-12 and Southeastern Conference. On the day last April when the NCAA changed its guidelines to allow coaches to send text messages to recruits, Harris received more than 100 in the first hour.</p>

<p>Since then, the onslaught has slowed to barely a trickle. Word got out: Harris prefers colleges leave him alone for now. He gets maybe one “recruiting” text on most days, a link to an inspirational video from Alabama strength and conditioning coach Scott Cochran.</p>

<p>Harris, reserved by nature and not at all wild about wading in attention, just wants to focus on his final high school season. And that’s the way it’s unfolding, so far.</p>

<p>“I tell coaches not to bother me that much,” he says. “Let me enjoy the process. And they respect it.”</p>



<p>Still, his status in recruiting circles has given him a window into the world of elite Division I college football, and more. This summer took him to the campuses of Alabama, Auburn, USC, UCLA and Michigan. He watched the spring game at Ohio State. Among the camps he attended was “The Opening,” a prestigious event held at Nike headquarters outside Portland, Ore.</p>

<p>There, he mostly kept to himself, but did chat with Los Angeles Rams running back Todd Gurley and Ezekiel Elliott of the Dallas Cowboys. Harris talks about these encounters with a touch of wonder, as if he didn’t quite understand why such acclaimed players would even speak to him.</p>

<p>One person he is comfortable talking to, and about, is Harbaugh. Harris describes his interactions with the often intense, khaki-clad coach as if he’s found a kindred spirit, the rare coach willing to engage in banter with recruits. That’s a major contrast to a coach such as Alabama’s Nick Saban, whom Harris characterizes as “straight business” and “very strict.”</p>

<p>Harbaugh brought his Michigan staff to Antioch High in June to conduct one of his controversial “satellite camps” for top prep players. About 200 local high school kids went through two hours of drills on the school’s football field. Photos of the event on the Antioch website include one of Harbaugh wearing a jersey of Warriors star Stephen Curry over his Michigan sweatshirt.</p>

<p>Even if Harris doesn’t end up in Ann Arbor, he’s become a Harbaugh fan.</p>

<p>“He’s dope,” Harris says. “Everybody thinks he’s weird, but he’s not weird. I like him a lot. He’s a funny dude. He’s cool.”</p>

<p>Right now, college coaches across the country are probably busy parsing those words, wondering if Harbaugh might have the inside track on the nation’s top running back. But it’s clear Harris has not yet decided. He also speaks highly of Alabama’s staff; there’s the USC T-shirt he sports; and he reportedly has a good rapport with one of Cal’s assistants.</p>

<p>This all just feeds the speculation swirling around Harris’ college choice, which he must make by National Letter of Intent Signing Day on Feb. 1. Lucido, his coach, hears The Question — “Where’s Najee going?” — practically every day.</p>

<p>Once, he said, he and Harris were eating at the local Chili’s when Harris left the table to use the restroom. A waitress immediately rushed over to ask The Question.</p>

<p>“I get it all the time,” Lucido said. “I told her he hasn’t made a decision yet.”</p>

<p>Harris constantly hears The Question, too. His answer is firmly noncommital.</p>

<p>“I’m going to Antioch,” he says.</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10819882/5/2000x2000.jpg">
    <p class="caption">Antioch High’s Najee Harris and his teammates run drills in preparation for their 2016 season opener against Lincoln High of Stockton.<span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>Harris’ success is leading a football revival at his school. Six other Antioch High players have received college scholarship offers, and the Panthers are loaded with speed. They began the season Friday night ranked No. 3 in the Bay Area by The Chronicle; a nationally televised showdown against No. 1 De La Salle High of Concord looms on Sept. 23.</p>

<p>Still, there’s no question about the No. 1 player at Antioch.</p>

<p>Fellow students frequently approach Harris on campus, sometimes to ask about his visits with Harbaugh and Saban and other times simply to shake his hand. Harris flashes an easy smile and responds, “Wassup?” to everyone.</p>

<p>He likes to joke around. It’s just his nature, but he’s also discovered it has a disarming effect on people. Many seem to expect the big man on campus to be aloof, or worse. When he starts making light-hearted banter, he says, they usually relax and talk more openly.</p>

<p>Harris laughs when he talks about meeting his math tutor. At first, he says, she looked at him strangely and started “being all mean.” Once he won her over, he says, she confessed: “I thought you were going to be different. I thought you were going to be an —hole.”</p>

<p>He seems to relish defying the star-athlete stereotype.</p>

<p>“I wasn’t used to it at first,” he says of the misconception. “But now I am. I ain’t going to change the way I am.”</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10827783/5/2000x2000.jpg">
    <p class="caption">Antioch High running back Najee Harris has committed to play football at the University of Alabama next fall. <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>Harris’ itinerant childhood no doubt shaped who he is. His family moved often, bouncing back and forth between the Bay Area and Seattle. They spent time in homeless shelters and hotels, searching for stability but seldom finding it until recent years.</p>

<p>Tianna Hicks, a single mom to Najee and his four older siblings, acknowledges the difficulties they faced produced their perseverance and work ethic.</p>

<p>“That’s probably what made us the family we are today,” Hicks says of their journey. “We had to go through a lot of struggles, and I think football was always the kids’ safety net, including Najee. That helped keep all my kids off the streets.”</p>

<p>Harris routinely got into trouble at school when he was younger. Now he has a chance to graduate in January, a semester ahead of his classmates. If he goes that route, he could enroll early in college and join his next team’s spring football practice.</p>

<p>Malu, his trainer, traces Harris’ drive to excel to watching his mom struggle to pay the bills in his younger days.</p>

<p>“He’s still hungry,” Malu says. “It’s rare. Kids get a few (scholarship) offers here and there, and the drive goes away. I tell them, ‘If the No. 1 kid in the nation is still hungry and still working every day, what makes you comfortable?’”</p>

<p>And despite his star status, Harris lacks some common comforts. His family’s apartment doesn’t have air conditioning, more than a mild inconvenience during Antioch’s sweltering summers. He also doesn’t have a car, or even a driver’s license; he grew up walking everywhere and still does. He insists it’s no problem.</p>

<p>All that could change dramatically, and soon.</p>

<p>At the end of his session with Malu on this August morning, he remembers he needs to make a phone call. He soon learns he’s one of only six prep stars invited to a Heisman Trophy-style national high school player-of-the-year event in New York in December.</p>

<p>He flashes a sheepish smile, appearing at once surprised and excited. He’s never been to New York.</p>

<p>Yep, Najee Harris is going places.</p>
