<p>If Najee Harris wonders what his life might feel like in the years ahead, when he joins a high-profile college football program and spends every fall weekend on one of sports’ biggest stages, then Friday night should offer a tidy preview.</p>

<div id="infobox">
    <p>Editor’s note:</p>
    <p>Antioch High School senior running back Najee Harris is the consensus No. 1 college football recruit in the country. Read the first installment of "The Najee Chronicles" <a href="http://projects.sfchronicle.com/2016/najee-harris/">here</a>.</p>
</div>

<p>Harris and Antioch High meet mighty De La Salle-Concord, a high school program so prominent it has been the subject of a book and feature film. ESPNU will televise the game to a national-television audience eager to see how Harris, a senior running back and the country’s consensus No. 1 college recruit, fares against a team annually ranked among the best in the land.</p>

<p>One of the Bay Area’s most tantalizing prep matchups in years, with De La Salle ranked No. 1 by The Chronicle and Antioch at No. 9, has sparked much pregame chatter. Antioch players have routinely fielded questions about De La Salle in class. Panthers offensive coordinator Brett Dudley, a lifelong Concord resident, has heard encouragement at the gym and grocery store; many people, it seems, hope Harris runs wild and Antioch topples the Spartans.</p>

<p>De La Salle head coach Justin Alumbaugh could not walk into his local Starbucks the past few weeks without ending up in conversation about Harris and Friday night’s game. Alumbaugh understands the anticipation, given the uncommon collision of a storied program and a local prospect awash in national accolades.</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/10961733/5/2000x2000.jpg">
  <p class="caption">Antioch High’s Najee Harris rests during the Panthers’ game against Rancho Cotate High in Rohnert Park.<span class="byline"> Carlos Avila Gonzalez, The Chronicle</span></p>
</div>

<p>Alumbaugh learned firsthand about Harris in last year’s North Coast Section semifinals, when he watched Antioch play Foothill-Pleasanton. Foothill won 55-54, but Harris ran for 364 yards and six touchdowns.</p>

<p>“I’d rather see him as a spectator than as a coach,” Alumbaugh said.</p>

<p>Even if De La Salle, which absorbed a rare loss last week to East High-Salt Lake City, extends its quarter-century unbeaten streak against Northern California opponents (273 games and counting), Harris is likely to make a splash. He has 942 yards rushing in four games this season, a runaway locomotive plowing through and dashing away from would-be tacklers.</p>

<p>His size (6-foot-2½, 226 pounds) and speed often leave even the most accomplished defenders frustrated. Just listen to San Leandro’s Jahari Kay, a standout linebacker who sounded puzzled in the wake of Harris’ 255-yard <i>first half</i> Sept. 9.</p>

<p>“I filled the hole once, hit him and he just bounced right off,” Kay said.</p>

<p>One week earlier, Milpitas had made Harris earn every one of his 207 yards rushing. The Trojans swarmed him each time he touched the ball, an approach De La Salle will try to duplicate Friday night.</p>

<p>Even if it worked for Milpitas — the Trojans beat Antioch 49-28 — linebacker Alli Matau learned that bringing down Harris can be an otherworldly chore.</p>

<p>“It’s like tackling a robot,” Matau said, laughing.</p>

<div class="full-width-img">
      <img src="http://ww1.hdnux.com/photos/51/21/44/10957850/5/2000x2000.jpg">
      <p class="caption">Tianna Hicks celebrates with family after her son, Najee Harris, knocked over two defenders on his way to a fourth-quarter touchdown against Rancho Cotate High.<span class="byline"> Carlos Avila Gonzalez, The Chronicle</span></p>
  </div>

<p>As Harris braces for De La Salle and the scrutiny accompanying this week’s game, he enjoys his celebrity in some ways. After he gained 261 yards in Antioch’s 41-33 win over Rancho Cotate on Friday night — including one long touchdown run on which he flattened two defensive players — a group of fans in Rohnert Park hurried onto the field and encircled him.</p>

<p>The fans collected his autograph and took smartphone photos with him. The team bus waited for Harris as he posed for shots with Rancho Cotate’s cheerleaders.</p>

<p>But he also deals with the price of celebrity on another front: soaring expectations, with his performance and recruiting status followed closely by hard-core fans across the country.</p>

<p>There’s the post on one website suggesting former USC head coach Steve Sarkisian could persuade Harris to stick with his verbal commitment to attend Alabama. And the one out of Michigan parsing his positive comments to The Chronicle last month regarding Wolverines head coach Jim Harbaugh. (“He’s dope,” Harris said, among other things.)</p>

<p>And then there’s the nasty Snapchat message Harris received after his team’s loss to Milpitas, telling him he “sucked.” The unknown sender claimed he lost a $30 bet when Harris didn’t gain at least 300 yards.</p>

<p>Sadly, this type of criticism is nothing new for Harris, who’s still just an 18-year-old high school kid. It’s part of the 21st century landscape for the nation’s top recruits; Harris said he gets “a lot of bad stuff” on social media.</p>

<p>“It’s a crazy world,” he said.</p>

{% import '_components/_slideshow.html' as slide %}
  <div class= "photoGallery1">
    <div class="scrollLeft-Gallery1 first" id="scrollLeft-Gallery1"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
    <div class="scrollRight-Gallery1" id="scrollRight-Gallery1"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
    {{ slide.info(1,0,"10957847","active","Najee Harris breaks away for a touchdown in Antioch High’s victory over Rancho Cotate High in Rohnert Park on Sept. 16.", "Carlos Avila Gonzalez" ) }}
    {{ slide.info(1,1,"10957832","","De La Salle assistant coach Chris Crespi gets defensive players ready to take on Najee Harris and Antioch High during practice at the Concord high school.", "Carlos Avila Gonzalez" ) }}
    {{ slide.info(1,2,"10957837","","Henry To'oto'o of De La Salle-Concord stretches on the sideline during practice in Concord on Sept. 13.", "Carlos Avila Gonzalez" ) }}
    {{ slide.info(1,3,"10957840","","De La Salle-Concord head coach Justin Alumbaugh addresses players during practice at the Concord school.", "Carlos Avila Gonzalez" ) }}
    {{ slide.info(1,4,"10957836","","San Leandro Pirates players can only watch as Najee Harris breaks away for a long run at Antioch High on Sept. 9.", "Carlos Avila Gonzalez" ) }}
    {{ slide.info(1,5,"10957856","","Najee Harris watches game video with coaches during halftime of Antioch High’s matchup against Rancho Cotate High in Rohnert Park.", "Carlos Avila Gonzalez" ) }}
  </div>


  

<p>He typically doesn’t respond, at least to strangers. He’ll usually check his Snapchat or Instagram accounts, read any messages or posts and move along. The crass post after the Milpitas game, though, gave him pause.</p>

<p>“It affects me a little bit, a tiny bit, a small bit,” Harris said. “It gets me thinking about s—, but nah. … It doesn’t bother me.”</p>

<p>Maybe not, but he felt compelled to tell Antioch’s head coach John Lucido about it. Harris regularly seeks guidance from Lucido and Dudley, who advise him to dismiss such noise. It will only grow louder in college, they remind him.</p>

<p>“I told him you can’t take any of that seriously; you’re going to have critics your whole life,” Lucido said. “He was kind of laughing about it, but you could see it bothered him a little. He got kind of quiet. …</p>

<p>“I feel bad for him. People forget he’s just a high school kid. If they really knew him, they wouldn’t say anything at all.”</p>

<p>The nonstop recruiting chatter can be similarly distracting, so Harris tries to keep his distance. He had planned to make his first official college visit next weekend, when Antioch has a bye. Instead, he and several teammates now are scheduled to take the SAT exam.</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/10957843/5/2000x2000.jpg">
  <p class="caption">Shadows of defensive players and coaches line the field at De La Salle High in Concord on Sept. 13.<span class="byline"> Carlos Avila Gonzalez, The Chronicle</span></p>
</div>

<p>That won’t stop the chatter, of course. Two weeks ago, the sports site SECCountry.com ran a large photo of Harris, smiling, alongside the headline: “Could Alabama’s hiring of Steve Sarkisian help keep Najee Harris committed?”</p>

<p>The story described Harris as “close” with Sarkisian when the latter coached at USC. Sarkisian once came to Antioch High to see Harris — and later sent his entire staff for a follow-up visit — but Harris, who made a non-binding commitment to Alabama in April 2015, said the website piece was off-base.</p>

<p>“That has nothing to do with me,” Harris said of Sarkisian’s hiring. “I met him, but I have no special connection with him.”</p>

<p>Harris’ contact with college coaches has slowed a bit as football season ramps up. He receives a daily text from Alabama strength and conditioning coach Scott Cochran, with a link to a motivational video. After the Milpitas loss, Lucido and Dudley got encouraging, keep-your-head-up texts from Alabama assistant coach Tosh Lupoi and Michigan assistant Jay Harbaugh.</p>

<p>Harris probably will delay his five official visits until after Antioch’s season, though he might make one trip in November if the Panthers earn a first-round playoff bye. For now, he wouldn’t say which schools he will visit, though Alabama, Michigan and Ohio State seem all but certain.</p>

<p>Pac-12 schools Cal, UCLA and USC also are possibilities.</p>

<p>“I’m worrying about my season, man,” Harris said, repeating his unofficial mantra. “I play football here (at Antioch). I’m not going to worry about college.”</p>

<p>Not yet, at least.</p>

<div class="full-width-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/10957833/5/2000x2000.jpg">
  <p class="caption">Najee Harris runs past San Leandro linebacker Ray Baker during Antioch High’s home victory on Sept. 9.<span class="byline"> Carlos Avila Gonzalez, The Chronicle</span></p>
</div>

<p>De La Salle defensive coordinator Terry Eidson is in his 36th year of coaching high school football. Eidson has read or heard about countless great players over the years. Sometimes, they lived up to the hype. Many times, they didn’t.</p>

<p>His reaction upon watching Harris last year: “Oh, geez, he’s the real deal.”</p>

<p>Eidson placed Harris in select company: one of the top three athletes he has either coached or opposed. The others on this short list are D.J. Williams, a De La Salle alum who had an 11-year NFL career as a linebacker with the Broncos and Bears, and Vontaze Burfict, who went to Centennial High-Corona (Riverside County) and now is a linebacker with the Bengals.</p>

<p>Eidson will give his defensive players practical instructions Friday night: gang-tackle Harris, don’t let him reach top speed, make him stop moving his feet. He knows those words will not always lead to the desired results, but he and his players still relish the challenge.</p>

<p>“They say Najee is the next Todd Gurley (the NFL’s Offensive Rookie of the Year last season), so I’m excited about playing against the guy,” De La Salle defensive lineman Isaia Taotua said.</p>

<p>Or, as Eidson put it, “This is awesome, playing against a kid who’s probably going to play on Sundays. He’s going to get his yards, but you try to limit him and make sure he doesn’t get 60 at once.”</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/10957845/5/2000x2000.jpg">
  <p class="caption">Najee Harris of Antioch waits for the game to resume against Rancho Cotate High on Sept. 16.<span class="byline"> Carlos Avila Gonzalez, The Chronicle</span></p>
</div>

<p>That was Foothill’s plan in its NCS playoff game against Antioch in November. But before long, Harris had sprinted for touchdown runs of 80 and 44 yards.</p>

<p>“He’s the most explosive player I’ve ever coached against,” said Foothill coach Matt Sweeney, a 30-year veteran.</p>

<p>Given his electric skills, Harris has seen opponents try dubious tactics to slow him down. A player on Granada-Livermore pulled out one of Harris’ dreadlocks in 2014, then handed the thick lock of hair to another Antioch player.</p>

<p>Also that season, a Liberty-Brentwood defender threw down Harris by his face mask, prompting Harris to punch him and earn an automatic ejection.</p>

<p>Even as his status has grown, Harris insists he has learned to ignore the taunting and other provocations, which have subsided since his sophomore season. Antioch coaches still check game videos to make sure opponents aren’t twisting his ankle in the pile. Lucido thinks the absence of late hits and taunting this season is a sign of the respect opposing teams now have for Harris.</p>

<p>That respect might grow Friday night, when his joyride through Bay Area high school football will receive its stiffest test against the region’s premier team. De La Salle, big crowd, ESPNU telecast: Welcome to the next four years of your life, Najee.</p>