<p>As soon as Dalaan Green darts into the open field, racing toward a long touchdown, his acclaimed, helmet-less teammate launches the celebration.</p>

<div id="infobox">
    <p>Editor’s note:</p>
    <p>Antioch High School senior running back Najee Harris is the consensus No. 1 college football recruit in the country. Read the first installment of "The Najee Chronicles" <a href="http://projects.sfchronicle.com/2016/najee-harris/">here</a>.</p>
</div>

<p>Najee Harris, already out of the game with pain near his right knee, starts hopping along the sideline and waving his left arm like an over-caffeinated third-base coach. His dreadlocks flop wildly on his shoulder pads. Harris, smiling widely, prances onto Antioch High School’s field to congratulate Green.</p>

<p>So, yes, the nation’s No. 1 recruit — even while he’s courted by powerhouse programs from Alabama and Michigan to Ohio State and the University of Southern California, and even while he nurses an injury to his IT band (a ligament along the outside of the upper leg) that could derail his senior season — remains connected to his teammates.</p>

<p>That’s evident watching Harris, a senior running back, in Antioch’s small weight room, where he animatedly shouts encouragement to fellow players (or good-naturedly hassles them). It’s also evident seeing him on the bench as the season opener against Lincoln-Stockton winds down on Aug. 26, laughing and joking with teammate Sir Forbes and Principal Louie Rocha.</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10872364/5/2000x2000.jpg">
    <p class="caption">Antioch High’s Dalaan Green (left), Cameron Nathan and Tyler Hunsucker get ready to take on the Milpitas Trojans.<span class="byline"> Michael Macor The Chronicle</span></p>
</div>

<p>“He never acts like a star,” Forbes says. “He always stays with us as a team and plays for the team. Nothing else. He’s never cocky.”</p>

<p>Harris, in fact, savors the camaraderie of playing alongside 48 other Antioch Panthers. He’s the one bringing high-profile college coaches such as Jim Harbaugh to this unheralded suburb along the delta, but Harris’ lofty status in recruiting rankings doesn’t seem to filter into his relationship with teammates.</p>

<p>And make no mistake: He has contemplated his role on the team, beyond carrying the football. He’s more likely to pull aside another player to calmly make a suggestion, rather than scream. His leadership, he figures, surfaces mostly in his devotion to weight training and conditioning.</p>

<p>Harris occasionally addresses his teammates, imploring them to “practice how you play.” But he also deliberately creates space for fellow captains Neel Sahota and Abram Karnthong, plus other leaders such as Omari Harris (no relation) and Cam Nathan, to have their voices heard.</p>

<p>“I’ve been thinking about this a lot,” Najee Harris says in a quiet moment away from school. “I know, for a fact, everybody will listen to me. So I kind of step back to see who else will step up, so the team will also listen to them. ...</p>

<p>“If I’m out of state on a visit, I don’t want practice to go to hell. You’ve got to think about something to get the team going. I can’t be the one-man show. That’s not going to work. That’s not a team.”</p>

<p>This group-leadership approach comes in handy in times of frustration — exactly what Harris and his team face in the wake of their surprising 49-28 loss to Milpitas last Friday night. Antioch’s offensive line struggles to create space for Harris, who works extraordinarily hard for 207 yards rushing (on 33 carries), at times dragging two or three Trojans defenders with him.</p>

<p>Mostly, they swarm and smother him.</p>

<div class="inline-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10883287/5/2000x2000.jpg">
    <p class="caption">Najee Harris (left) and Omari Harris joke around late in the game against Lincoln-Stockton on Aug. 26.<span class="byline"> Michael Macor The Chronicle</span></p>
</div>

<p>This offers a striking contrast to Antioch games the past two-plus years, and it creates a noticeably different scene on the sideline. Harris, for all his efforts to be a good teammate, clearly is discouraged. He doesn’t lash out at other players, but he also doesn’t interact with them as much; he stands silently and stoically as the Panthers lose for only the second time since the start of last season.</p>

<p>Head coach John Lucido speaks to his captains (Harris, Sahota and Karnthong) on their way off the field, reminding them to keep the players together as they prepare for this Friday night’s home game against San Leandro.</p>

<p>“They know,” Lucido says. “I’m not worried about these guys. There might be a couple we have to reel back in a little bit, but we’ll be fine and they’ll be hungry, especially Najee. I think he’s disappointed with his performance. He’s hard on himself.”</p>

<p>Harris’ teammates trace his efforts to expand the leadership to spring practice, when the default reaction was to look to him for direction. He quickly realized he needed company in showing the way.</p>

<p>That’s when he prodded players such as Nathan into becoming more assertive.</p>

<p>“When we were getting in the huddle, and everyone was looking for Najee, he’s like, ‘Cam, take over,’” says Nathan, a senior fullback and linebacker. “We’ve got a lot of younger guys, so we can’t have all the weight on Najee. We already ask him to do a lot.”</p>

<p>Nathan points to a summer workout for which Harris arrived straight from the airport. He had been at “The Opening,” Nike’s prestigious football camp outside Portland, Ore., and he hurriedly dropped his bags in the storage room to join his buddies on the field.</p>

<p>“I see that,” Nathan says, “and think I’ve got to step up even more.”</p>

<div class="full-width-img">
    <img src="http://ww1.hdnux.com/photos/51/21/44/10883282/5/2000x2000.jpg">
    <p class="caption">Najee Harris goes airborne to score against Milpitas High on Sept. 2. Harris’ Antioch Panthers lost the game.<span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>Antioch’s 67-38 win over Lincoln to christen the season includes one unsettling sight for the Panthers: Harris splayed on the sideline, on his back, as a trainer works to loosen tightness near his right knee.</p>

<p>As it turns out, the pain dates to early June, when Harris traveled to a summer football camp at Alabama. Soon after his return, the knee bothered him enough to prompt a visit to the doctor, who linked the problem to his iliotibial band.</p>

<p>IT band syndrome, a common injury among runners, often results in pain near the hip or knee, and it’s typically caused by overtraining. That sounds like Harris.</p>

<p>He reluctantly took two weeks off in June, then resumed daily multiple workouts (frustrating his mom, Tianna Hicks, personal trainer, Marcus Malu, and Antioch’s coaches). This time, after landing awkwardly on his knee Aug. 26 and leaving the game in the third quarter, Harris proceeds more cautiously.</p>

<p>He skips two days of practice, uses the infrared sauna at Lucido’s house and visits a chiropractor every day, including an appointment five hours before the Milpitas game on Sept. 2. Harris learns he needs to roll out the “big-ass knot” below his knee, and alternately apply ice and heat.</p>

<p>The treatment works — Harris moves well against Milpitas, though maybe not as explosively as usual.</p>

<p>“In the summer, it was deep down in there, and I felt like I tore my (posterior cruciate ligament),” he says. “This is just a knot. I haven’t had this before, but I think it’s just lack of stretching.”</p>

<div class="inline-graphic show-for-medium">
    <img src="{{ url_for('static', filename='images/ch2/graphic.png') }}">
</div>
<div class="inline-graphic hide-for-medium">
    <img src="{{ url_for('static', filename='images/ch2/graphic-mobile.png') }}">
</div>

<p>The injury has wider implications. Just imagine the anxiety among Harris’ teammates (and probably among the college coaches pursuing him) when they see the country’s most prized recruit — and their ticket to a deep playoff run — hobbling around the sideline.</p>

<p>Harris insists he’s not worried. Sahota acknowledges some concern, but he figures Harris wouldn’t put the team’s future (or his own) at risk by trying to play through severe pain.</p>

<p>“It’s your star running back,” Sahota says, “so you’re always going to have concern.”</p>

<p>But the injury also raises a relevant question: Why does Harris feel compelled to keep training even when advised to rest? He’s obsessed with working out — in the summer, during the season, all the time.</p>

<p>“I think he feels he has a lot to prove,” Lucido says. “He doesn’t see himself as ‘that guy.’ He can always get better, and that’s what motivates him.</p>

<p>“As Najee says, ‘This is what makes me happy’ — when he’s working out and when he’s on the football field. That’s his place, where he feels at home.”</p>

{% import '_components/_slideshow.html' as slide %}
<div class= "photoGallery1">
  <div class="scrollLeft-Gallery1 first" id="scrollLeft-Gallery1"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
  <div class="scrollRight-Gallery1" id="scrollRight-Gallery1"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
   {{ slide.info(1,0,"10883285","active","Najee Harris (2) and Neel Sahota (51) walk up for the coin toss ahead of the game against Milpitas." ) }}

  {{ slide.info(1,1,"10837980","","The Antioch Panthers kneel for a prayer before the start of the second game of the season, against the Milpitas Trojans." ) }}

  {{ slide.info(1,2,"10883294","","Najee Harris (2) gets checked out by a team trainer during the game Aug. 26." ) }}

  {{ slide.info(1,3,"10883266","","Antioch High's Najee Harris tries to break free from a crowd of Milpitas defenders on Sept. 2." ) }}

  {{ slide.info(1,4,"10883286","","Najee Harris (right) gets fired up with teammate Will Karnthong before Antioch’s game against Lincoln-Stockton." ) }}

  {{ slide.info(1,5,"10883283","","Najee Harris gets taped up by coach Juan Corral before taking on the Milpitas Trojans on Sept. 2." ) }}

  {{ slide.info(1,6,"10836621","","Najee Harris runs to congratulate a teammate who just scored a touchdown in the fourth quarter of Antioch High’s season opener." ) }}

  {{ slide.info(1,7,"10872347","","Najee Harris leaves the locker room at Milpitas High before the season’s second game." ) }}
</div>

<p>Part of this comfort level is the rapport Harris enjoys with his teammates. He’s mostly reserved with reporters, but Harris lets loose in his domain — dancing in the weight room and locker room, loudly exhorting players before games, playfully taunting kickers during field-goal practice on Thursdays.</p>

<p>At one point in the season opener on Aug. 26, after sophomore quarterback Will Karnthong throws a long touchdown pass to Isaiah Dunn, Harris and Karnthong attempt an exuberant, midair chest bump. Nice idea, but Harris outweighs his slender quarterback by 55 pounds. Karnthong tumbles to the ground.</p>

<p>Harris laughs heartily, of course. He’s poised to soar into the big-time world of major-college football next year, but for now he’s an Antioch Panther.</p>