<p>Najee Harris stands in the darkness outside Antioch High’s gym on a crisp autumn night. Football practice is over and nearly all his teammates and coaches are gone. This counts as a rare moment of calm for the nation’s No. 1 college football recruit, a chance to reflect on his hectic senior season and uncertain road ahead.</p>

<div id="infobox">
    <p>Editor’s note:</p>
    <p>Antioch High School senior running back Najee Harris is the consensus No. 1 college football recruit in the country. Read <a href="http://projects.sfchronicle.com/2016/najee-harris/">Chapter 1</a>, <a href="http://projects.sfchronicle.com/2016/najee-harris/teammates/">2</a>, <a href="http://projects.sfchronicle.com/2016/najee-harris/the-opponent/">3</a>, <a href="http://projects.sfchronicle.com/2016/najee-harris/home-life/">4</a> and<a href="http://projects.sfchronicle.com/2016/najee-harris/the-pressure/"> 5</a> of "The Najee Chronicles."</p>
</div>

<p>Harris is in an engaging mood, but he doesn’t strike the boastful tone you might expect of a player with powerhouse programs such as Alabama and Michigan persistently courting him. His voice is heavy with anxiety as he talks about his introduction to the big business of football — fielding pitches from Deion Sanders and Steve Mariucci, sporting goods companies projecting him as a brand name — and the rising stress in his jam-packed life.</p>

<p>Harris, at 18 years old, is a wanted man.</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11781033/5/900x900.jpg">
  <p class="caption">Antioch High running back Najee Harris watches from the sideline as the Panthers play Heritage High of Brentwood. <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>Last year, when the U.S. Army All-American Bowl offered Harris a spot in its annual all-star game, he figured it would be a cool, carefree way to punctuate his final high school season. But when he committed last month to the Army game — which includes Adidas among its sponsors — rival Under Armour cranked up a fullcourt press to persuade him to play in its all-star game instead.</p>

<p>Under Armour officials peppered Harris with phone calls, asking him to meet the company’s chief executive officer. They told him they saw him as the “new face” of Under Armour one day, along with Atlanta Falcons wide receiver Julio Jones and maybe LSU running back Leonard Fournette. Sanders, a Hall-of-Fame cornerback, texted Harris on the company’s behalf. Mariucci, a former 49ers head coach, texted and called, too.</p>

<p>Under Armour officials even traveled to Antioch to personally woo Harris, a running back who blends size, power and speed. And when he became intrigued, wavering on his commitment to the Army game, Adidas officials quickly responded: He could be the face of <i>their</i> company some day, they told him.</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11781043/5/900x900.jpg">
  <p class="caption">Running back Najee Harris is recognized as a U.S. Army All-American by the Army’s Edmundo Rodriguez (left) and Henry Romero. Harris will play in the Army All-American high school all-star showcase game in San Antonio in January. He chose the Army game over an all-star game sponsored by Under Armour. <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>All the attention doesn’t feed Harris’ ego. It kind of freaks him out.</p>

<p>“I’m only 18, and you’re coming at me with stuff like that?” he says. He points toward the neighborhood where he lives just blocks away. “I’m still living over there, poor as hell. I don’t know what to do. So I just tell them, ‘I’ll think about it and give you a call back later.’”</p>

<p>But later is growing nearer all the time for Harris. He imagined spending his last high school season simply playing ball and securing the grades he needs for college. Instead, he’s learning what all top recruits eventually realize: Great opportunity brings big pressures, like a simple choice of all-star games becoming a high-stakes referendum on future endorsement alliances.</p>

<p>Or like having to fend off inquiries from prospective agents, something dating to Harris’ breakout sophomore year at Antioch. Every time a pitch shows up on his phone, usually sent through social media, he consults with Antioch offensive coordinator Brett Dudley, a physical education teacher at the school.</p>

<p>Dudley’s simple advice: Don’t respond. Make no contact. Steer clear of all potential NCAA rules violations.</p>

<div class="inline-graphic show-for-medium width-970">
    <img src="{{ url_for('static', filename='images/the-pressure/desktop.png') }}">
</div>

<div class="inline-graphic hide-for-medium">
    <img src="{{ url_for('static', filename='images/the-pressure/mobile_1.png') }}">
</div>
<div class="inline-graphic hide-for-medium ">
    <img src="{{ url_for('static', filename='images/the-pressure/mobile_3.png') }}">
</div>

<p>“I feel bad because a lot of people look at Najee and see dollar signs, and ways they can attach themselves now,” Dudley says. “People forget he’s still a kid.”</p>

<p>He’s a kid who has dealt with several weighty matters on and off the field in recent weeks, not only the Adidas-Under Armour tussle for his attention. There also are the relentless college recruiters, a nagging knee injury, the need to focus on his classwork and SAT score, and the shock and dismay at the arrests of two friends.</p>

<p>That’s a lot for a teenager trying to find his way. But Dudley says Harris is learning to worry less about pleasing others and focus more on making decisions in his own best interests.</p>

<p>Another confidant — his uncle, Jamal Gregory — reminds Harris to slow down and make sure he knows whom he can trust.</p>

<p>“He needs to learn how to be able to read people, and not have too many people in his circle,” Gregory says. “A lot of people have bad intentions. This is just the beginning.”</p>

<div class="full-width-img">
      <img src="http://ww1.hdnux.com/photos/51/21/44/11781036/5/2000x2000.jpg">
      <p class="caption">Najee Harris (2) is at the center of the cheering for his  fellow seniors during Antioch High’s Senior Night game against Heritage-Brentwood. <span class="byline"> Michael Macor, The Chronicle</span></p>
  </div>

<p>One source of stress eased late last month. As he arrived at school, Harris saw Dudley running toward him, tossing aside his clipboard and wrapping him in a bear hug.</p>

<p>Harris looked quizzically at his short, bespectacled coach until Dudley blurted out a number — the score Harris had earned on his SAT. It was exactly the number he needed to meet the NCAA’s eligibility requirements.</p>

<p>Harris took off on an impromptu victory lap, sprinting around Antioch’s campus screaming in excitement.</p>

<p>“I know how much work he put into it,” Dudley says. “I was just so happy for him.”</p>

<p>Harris didn’t reveal the score, saying only he didn’t need to hit a “spectacular number.” According to the NCAA’s sliding scale for gaining eligibility to play in college, a student-athlete with a 2.5 grade-point average in 16 core courses requires at least 820 on the SAT, a 2.8 GPA needs 700, and a 3.0 GPA requires 620.</p>

<div class="inline-graphic width-620">
<p class="graphic-caption"><b class="font-16">Early enrollment</b><br>Najee Harris plans to graduate next month and enroll in college in January, joining a growing number of college football players who enroll early. Data from the NCAA show a 39 percent increase in football “early entrants” from 2009 to 2013, the most recent year for which statistics are available.</p>
    <img src="{{ url_for('static', filename='images/the-pressure/freshmen.png') }}">
</div>

<p>Still, Harris had worried about the test because he plans to graduate early, enroll in college in January and participate in his new school’s spring football practices. He will finish at Antioch when the semester ends Dec. 22, assuming he maintains passing grades in his classes.</p>

<p>That would mean he could start classes Jan. 4 if he attends the University of Michigan, or Jan. 11 if he chooses the University of Alabama.</p>

<p>Those two football powers remain the leading contenders to land Harris. Michigan head coach Jim Harbaugh caused an online stir with his visit to one of Harris’ games last month. Two weeks later, Alabama assistant coach Tosh Lupoi and offensive coordinator Lane Kiffin watched, along with USC running backs coach Tommie Robinson, as Harris gained 175 yards rushing in a lopsided victory over Heritage-Brentwood.</p>

<div class="float-img-container">
    <div class="float-img right">
        <img src="http://ww1.hdnux.com/photos/51/21/44/11781034/5/1000x1000.jpg">
      <p class="caption">USC running backs coach Tommie Robinson (left) and Alabama offensive coordinator Lane Kiffin are among those on hand to watch Najee Harris and his Antioch teammates play a Friday night game. <span class="byline"> Michael Macor, The Chronicle</span></p>
    </div>
</div>

<p>All three coaches, like Harbaugh bound by NCAA recruiting guidelines, avoided saying more than a passing hello to Harris. But Lupoi stopped by Dudley’s classroom during seventh period and talked at length with Antioch head coach John Lucido before the game. Kiffin later chatted up Lucido on the sideline.</p>

<p>Harris tries to take the recruiting competition in stride — “They’re just doing their job,” he said — but he’s clearly eager to push along the process. He expects to take official visits to Michigan and Alabama this month, and he also could head to Ohio State and one or two California schools (possibly USC, UCLA or Cal) if there’s time.</p>

<p>Beyond his nonbinding verbal commitment to Alabama in April 2015, near the end of his sophomore year, Harris has provided few clues about where he might end up. But he points to the Southeastern Conference, widely regarded as the nation’s toughest for football, in explaining Alabama’s appeal.</p>

<p>“I really love competition, and there’s nothing better than the SEC,” Harris says. “When I went there, you feel that thing in your body, like, ‘OK, this is where I want to go.’ I felt comfortable there. ... But I got that feeling at Michigan, too, and Ohio State.”</p>

<p>As he deals with his own big decision, Harris finds himself frustrated with the decisions made by two of his friends. One, a former Antioch teammate, drew a 90-day prison sentence for a probation violation. Soon thereafter, another friend — who recently had stayed with Harris — was arrested on suspicion of robbery, according to Harris. He felt angry, as if his trust had been betrayed.</p>

<p>In his rough Antioch neighborhood, it would be easy for Harris to become swept up in crime and violence. But football and family motivate him to stay out of trouble. He talks openly about his desire to provide for his single mom, Tianna Hicks; she has struggled at times to support her five kids, and Harris wants to alleviate her constant stress.</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11781038/5/900x900.jpg">
  <p class="caption">On Senior Night at Antioch High, principal Louie Rocha (left) hands a flower to Tianna Hicks, mother of star running back Najee Harris (center). <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>He doesn’t say it in so many words, but he’s acutely aware success in college could one day lead to the NFL — and the kind of endorsement contract suitors already are promising.</p>

<p>“I’m just waiting to leave and do something for my family,” he says. “College is the next step. Hopefully, nothing happens to me — I’m praying nothing happens to me — but when I get to the next step, and then closer to the next step, I can provide.”</p>

<p>Barely more than three years ago, Harris had his first big varsity game as a freshman against Freedom-Oakley. Antioch lost in overtime, but Harris ran for 92 yards. He clearly was headed for big things.</p>

<p>Joe Mixon was Freedom’s star running back then, an acclaimed recruit who is now starting for the University of Oklahoma. Mixon approached Harris after the game and told him succinctly, “You’re a hell of a player, but you need to get away from this school.”</p>

<p>Mixon had nearly attended Antioch himself, but the football program’s struggles prompted him to bolt for Freedom. Sure enough, in Harris’ freshman year of 2013, Antioch went 1-9.</p>
<div class="float-img-container">
    <div class="float-img left vertical">
        <img src="http://ww1.hdnux.com/photos/51/21/44/11781014/5/1000x1000.jpg">
      <p class="caption">Antioch High team personnel tend to running back Najee Harris, who came out of a game against Pittsburg High in pain. <span class="byline"> Michael Macor, The Chronicle</span></p>
    </div>
</div>
<p>Harris could have left after that season for mighty De La Salle-Concord, or found another strong team at nearby Pittsburg High. But he chose to stay at Antioch, in part because of a strong bond with his teammates.</p>

<p>“He said he liked the underdog and wanted to make this program better,” said Lucido, the head coach.</p>

<p>As Harris nears his final game at Antioch, it’s obvious he achieved that goal. The Panthers went from 1-9 to 7-5 to 11-1 in his first three years. They’re only 6-4 this season, but Antioch is seeded No. 2 in the North Coast Section Division I playoffs, with a first-round game Friday night against San Ramon Valley-Danville.</p>

<p>This year’s team has frustrated Harris, its wandering focus evident in blowout losses to Milpitas, Freedom and Pittsburg. Those defeats added to the stress of a senior year that hasn’t unfolded the way Harris imagined it would, even as he surpassed 2,000 yards rushing for the third consecutive season.</p>

<p>Still, he reflects on his Antioch career with pride.</p>

<p>“We changed it,” Harris says of the football team’s fortunes and reputation. “I’m not going to say I did everything, but I helped a lot. … Now there’s so much publicity coming to this school. You’ve finally got little kids saying they want to go to Antioch.”</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11781037/5/900x900.jpg">
  <p class="caption">Najee Harris is one of the last players to leave the field after Antioch High’s victory over Heritage-Brentwood. <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>Harris, though, finally seems ready to leave. He’s eager to complete his classwork, play in the Army All-American Bowl in San Antonio on Jan. 7 (he ultimately turned down the Under Armour game) — and then make his move to Tuscaloosa, Ala., or Ann Arbor, Mich., or wherever he decides to go.</p>

<p>There’s an unmistakable restlessness in his voice as he prepares to head home in the darkness.</p>

<p>“I’m ready,” he says, “for the next chapter in my life.”</p>
