<p>Michigan head coach Jim Harbaugh stood on the sideline at Antioch High, smiling widely and wearing the school’s signature black sweatshirt and baseball hat. He was there to see Panthers running back Najee Harris, and the nation’s No. 1 college football recruit responded with his usual litany of splashy plays.</p>

<div id="infobox">
    <p>Editor’s note:</p>
    <p>Antioch High School senior running back Najee Harris is the consensus No. 1 college football recruit in the country. Read <a href="http://projects.sfchronicle.com/2016/najee-harris/">Chapter 1</a>, <a href="http://projects.sfchronicle.com/2016/najee-harris/teammates/">2</a>, <a href="http://projects.sfchronicle.com/2016/najee-harris/the-opponent/">3</a> and <a href="http://projects.sfchronicle.com/2016/najee-harris/home-life/">4</a> of "The Najee Chronicles."</p>
</div>

<p>Harbaugh raised his arms in triumph as Harris zoomed into the end zone against Liberty-Brentwood, then later animatedly feigned outrage when the referee disallowed an apparent Harris fumble recovery.</p>

<p>Harbaugh put his quirky charisma on full display that night, even taking the microphone at halftime to announce the homecoming queen. About the only thing he didn’t do during his Oct. 14 visit, mindful of NCAA recruiting regulations, was say more than a passing hello to Harris.</p>

<p>But the sideline show spoke loudly, not only to Harris but to all the other schools chasing him — especially Alabama.</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11611737/5/900x900.jpg">
  <p class="caption">Michigan Wolverines head coach Jim Harbaugh puts hat on heart during the national anthem before Antioch’s home game against Liberty-Brentwood on Oct. 14. The former 49ers coach was in Antioch to watch sought-after running back Najee Harris, whose team won 62-25. <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>Eighteen months ago, as a wide-eyed sophomore on an unofficial visit to Alabama, Harris made a nonbinding verbal commitment to play for the Crimson Tide. He soon decided to keep his recruitment open, leaving the door ajar for many high-powered programs. Now, as the most coveted senior in the country, he’s still weighing where to play next year — and the competition to land him grows more intense every week.</p>

<p>And for Harris, a strong connection with his next coach could shape his decision.</p>

<p>Even before Harbaugh arrived in the Bay Area, Harris’ cell phone buzzed more frequently with calls from Tuscaloosa, Ala. Soon after word filtered out about Harbaugh’s planned trip, Harris said, he started receiving three calls a day from Alabama coaches.</p>

<p>This is testament to how every twist and turn can raise the stakes in the crazy-competitive world of recruiting, and no player in the class of 2017 creates a more spirited tussle than Harris.</p>


<p>Harbaugh’s visit to Antioch during Michigan’s bye week was big news on social media and recruiting websites. Images and video quickly went viral: Harbaugh posing with fans, chatting with Antioch principal Louie Rocha and introducing homecoming queen.</p>

<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11611734/5/900x0.jpg">
  <p class="caption">Antioch standout Najee Harris (No. 2) and his teammates get set to play  Freedom High in Oakley on Oct. 7. Freedom walloped Antioch 65-28, handing the Panthers their third loss of the season. <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>Alabama assistant coach Tosh Lupoi probably didn’t find this entertaining. Lupoi, a De La Salle-Concord alum who played at Cal and worked in the Pac-12 for six years, is an acclaimed recruiter who covers the West Coast for the Crimson Tide. He called Harris after Harbaugh’s visit and belittled Michigan’s schedule in the Big Ten, comparing it with the rugged road Alabama must navigate in the Southeastern Conference.</p>

<p>“Every game is the Super Bowl down here,” he told Harris.</p>

<p>This was a smart sales tactic, because Harris craves elite competition. That’s why he savored last month’s nationally televised game against perennial power De La Salle, a 28-21 Antioch loss. It’s also why the college programs still on Harris’ radar are either contending for a national championship (Alabama, Michigan, Ohio State) or play in the Pac-12, the West’s strongest conference (USC, UCLA, Cal).</p>


{% include '_assets/chapterfive_map.html' %}

<p>Harris, though, was flattered by Harbaugh’s decision to attend his game and amused by the way he mingled with fans.</p>

<p>“Not many head coaches go out there and take pictures with everybody,” Harris said. “Everything he’s doing is cool.”</p>

<p>Such praise for Harbaugh will not go unnoticed by Alabama or other suitors. And it’s not just what Harris says. Every time he wears a college sweatshirt — Kansas before one recent game, Michigan to school one day last week — fellow students pepper him with questions about where he’s leaning.</p>

<p>Antioch offensive coordinator Brett Dudley doesn’t think the hoopla surrounding Harbaugh’s stopover will sway Harris. He’s independent, Dudley noted, and not easily awestruck.</p>

<p>Sure enough, just a week after Harbaugh’s visit, Harris wore a Crimson Tide knit hat as he scrambled to leave the field near the end of his team’s 44-19 victory over crosstown rival Deer Valley. He and his mom, Tianna Hicks, were trying to catch a red-eye flight for his first official recruiting visit to Alabama — but they missed the flight.</p>

<p>Harris will make it to Tuscaloosa eventually. He doesn’t have the same fondness for Tide head coach Nick Saban as he does for Harbaugh, but he does have a relationship with Lupoi, the recruiter.</p>

<p>That one day could mirror the connection he has with Dudley and Antioch head coach John Lucido, who play pivotal roles in his life on and off the field. And it’s this kind of comfort level he’s seeking with potential college coaches.</p>

<p>“That means a lot,” Harris said.</p>


<div class="full-width-img">
      <img src="http://ww1.hdnux.com/photos/51/21/44/11611720/5/2000x2000.jpg">
      <p class="caption">Heavily recruited Antioch running back Najee Harris leaps over Freedom High defender Jared Rodgers, showing some of the athleticism that makes Harris such a coveted prospect. <span class="byline"> Michael Macor, The Chronicle</span></p>
  </div>

<p>Lucido often gives Harris a ride home after practice and sometimes ferries him to doctor’s appointments. At least once a week, Harris joins Lucido’s family for dinner and uses the coach’s infrared sauna to accelerate his healing from the wear and tear of football.</p>

<p>Harris, quiet and reserved by nature, gradually has opened up on their drives together, Lucido said. In the past few weeks, especially, he has started asking Lucido and Dudley more questions about the recruiting process.</p>

<p>“He’s asking for a lot of advice, which is good, because that means he trusts us,” Lucido said.</p>

<p>This trust built over time. In the summer between his freshman and sophomore years, Harris became close to Dudley as they traveled together to football camps and on unofficial college visits.</p>

<p>Dudley, also a P.E. teacher at Antioch, helped finance many of those trips; Hicks, a single mom, doesn’t have the means to pay for them all. Dudley said he didn’t hesitate pitching in because of Harris’ work ethic and modesty.</p>

<p>“He’s like my little brother, so I try to provide whatever I can that he needs to be successful,” Dudley said. “To me, it wasn’t even a question. … He’s so humble and appreciative of other people.”</p>

<p>Dudley also has taken him to buy everything from football cleats to school supplies, and he keeps tabs on Harris’ academic progress. Harris routinely swings by Dudley’s classroom during the school day to check in.</p>

<div class="float-img-container">
    <div class="float-img right vertical">
        <img src="http://ww1.hdnux.com/photos/51/21/44/11625154/5/1000x1000.jpg">
      <p class="caption">Antioch High head coach John Lucido prevents star running back Najee Harris from joining an on-field fight in the Panthers’ loss to Freedom High School. <span class="byline"> Michael Macor, The Chronicle</span></p>
    </div>
</div>

<p>“He makes sure I’m straight, makes sure I’m good,” Harris said. “I can’t really put it into words. That’s why I respect him and Lucido so much; they help me out in a lot of ways.”</p>

<p>Lucido stepped in to help in a big way during Antioch’s 65-28 loss to Freedom-Oakley on Oct. 7. A fight had broken out between players across the field, and Lucido quickly ran 15 to 20 yards off the sideline, looking back to make sure none of his players followed. But soon enough, Harris, a team captain, also came trotting out, telling Lucido he was going to break up the fight and get his teammates out of there.</p>

<p>Lucido stopped him and quickly started to explain: The referees could eject him simply for coming onto the field. Harris was insistent and made another attempt to cross the field.</p>


<p>That’s when Lucido’s expression turned more serious, and he vigorously grabbed Harris by the inside of his shoulder pads.</p>

<p>“He tried to resist at first because he didn’t understand what I was saying,” Lucido said. “He was calm after he looked at me and saw I was serious. He knows I have his best interests in mind.”</p>

<p>Opponents constantly struggle to stop Harris, but Lucido, 43, a sturdy former Antioch linebacker, held his own.</p>

<p>“I know how to tackle people,” he said, laughing.</p>

<div class="full-width-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11611739/5/2000x2000.jpg">
  <p class="caption">Antioch running back Najee Harris and assistant coach Brett Dudley watch video replays during the Antioch-Freedom game on Oct. 7. Dudley and Harris have become close, traveling together to football camps and on Harris’ unofficial college visits. <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>

<p>As the recruiting chatter swirls around him, Harris tries to keep his gaze fixed on what he recently described as Antioch’s “terrible season.” His Panthers were 11-1 last year and reached the North Coast Section semifinals, but this season, they fell to 3-3 after the lopsided loss to Freedom.</p>

<p>They have since responded with emphatic victories over Liberty and Deer Valley and, struggles and all, Antioch is 5-3 and ranked No. 14 in the Bay Area by The Chronicle. Still, stiffer tests await Friday night against Heritage-Brentwood and Nov. 5 against unbeaten and No. 3 Pittsburg.</p>

<p>Harris rarely has practiced the past few weeks, nursing a minor, lingering knee injury. Restless, he alternately sits on the bench talking to student managers, stands forlornly on the edge of the field or walks out to join his teammates, at half-speed, in drills. But the recruiting derby engulfing him doesn’t slow down.</p>

<div class="float-img-container">
    <div class="float-img left">
        <img src="http://ww1.hdnux.com/photos/51/21/44/11611735/5/1000x1000.jpg">
      <p class="caption">Antioch running back Najee Harris, wearing an Alabama stocking cap,  says his goodbyes to family and friends as he and his mom get ready for a red-eye flight to visit Alabama’s campus. They missed the flight, but the Crimson Tide might still be in Harris’ plans. <span class="byline"> Michael Macor, The Chronicle</span></p>
    </div>
</div>

<p>Just as he evades tacklers, Harris deftly sidesteps most questions about his pending college choice. He talks to Alabama coaches as often as he does to those from Michigan. USC, UCLA and Cal also are in the mix. Harris attended Ohio State’s spring game, so the Buckeyes still might have a chance.</p>

<p>It’s a curious game, especially given Harris’ verbal commitment to Alabama. It was not binding, but the perception among many fans and analysts is he’s headed there. Alabama, though, clearly is worried this could change.</p>

<p>Lupoi, the assistant coach, is expected to attend Antioch’s game Friday night (Alabama has a bye this week), and Crimson Tide coaches already have asked Harris when he might arrive on campus for good. Harris, with most of his schoolwork complete, hopes to graduate from Antioch after the first semester ends Dec. 23.</p>
<div class="inline-img">
  <img src="http://ww1.hdnux.com/photos/51/21/44/11621970/5/900x900.jpg">
  <p class="caption">Antioch High School running back Najee Harris gets a ride from his head coach, John Lucido, after practice last month. <span class="byline"> Michael Macor, The Chronicle</span></p>
</div>
<p>As he peers ahead — increasingly stressed by school, taking the SAT exam, his team’s pedestrian record and the roiling recruiting saga — America’s most wanted high school football player finds solace in his ties to his coaches and teammates. That won’t change when he leaves Antioch for Tuscaloosa, Ann Arbor or wherever.</p>

<p>“Najee’s going to pick people he wants to be around, period,” Dudley said. No matter what Harris decides, Dudley added, “I think it will be his feelings about all the people there, not just the head coach.”</p>
