<div class="college-box">
	<div class="college-hed">High demand</div>
	<div class="college-chatter">Schools that have reportedly made offers to Najee Harris:</div>
</div>

<div class="college-box">
		
	<button class="college" disabled>Alabama</button>
	<button class="college" disabled>Arizona</button>
	<button class="college" disabled>BYU</button>
	<button class="college" disabled>Cal</button>
	<button class="college" disabled>Colorado State</button>
	<button class="college" disabled>Georgia</button>
	<button class="college" disabled>Hawaii</button>
	<button class="college" disabled>LSU</button>
	<button class="college" disabled>Michigan</button>
	<button class="college" disabled>Notre Dame</button>
	<button class="college" disabled>Ohio State</button>
	<button class="college" disabled>Oklahoma State</button>
	<button class="college" disabled>Ole Miss</button>
	<button class="college" disabled>Oregon</button>
	<button class="college" disabled>Oregon State</button>
	<button class="college" disabled>San Jose State</button>
	<button class="college" disabled>TCU</button>
	<button class="college" disabled>Tennessee</button>
	<button class="college" disabled>Texas</button>
	<button class="college" disabled>UCLA</button>
	<button class="college" disabled>USC</button>
	<button class="college" disabled>Utah</button>
	<button class="college" disabled>Vanderbilt</button>
	<button class="college" disabled>Washington</button>
	<button class="college" disabled>Washington State</button>

</div>