<div class="college-box">
	<div class="college-hed" style="padding-bottom: 15px">An amazing junior year</div>

	<table>
		<thead>
			<th>Opponent</th>
			<th>Score</th>
			<th>Rushing yards</th>
			<th>Carries</th>
			<th>TDs</th>
		</thead>
		<tbody>
			<tr>
				<td>Acalanes</td>
				<td>W 62-7</td>
				<td>187</td>
				<td>15</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Milpitas</td>
				<td>W 47-22</td>
				<td>396</td>
				<td>22</td>
				<td>3</td>
			</tr>
			<tr>
				<td>San Leandro</td>
				<td>W 26-3</td>
				<td>156</td>
				<td>20</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Rancho Cotate</td>
				<td>W 54-14</td>
				<td>224</td>
				<td>17</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Pinole Valley</td>
				<td>W 52-0</td>
				<td>159</td>
				<td>6</td>
				<td>2</td>
			</tr>
			<tr>
				<td>Heritage</td>
				<td>W 53-14</td>
				<td>126</td>
				<td>4</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Freedom</td>
				<td>W 32-17</td>
				<td>236</td>
				<td>34</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Liberty</td>
				<td>W 55-37</td>
				<td>360</td>
				<td>28</td>
				<td>6</td>
			</tr>
			<tr>
				<td>Deer Valley</td>
				<td>W 62-9</td>
				<td>105</td>
				<td>8</td>
				<td>3</td>
			</tr>
			<tr>
				<td>Pittsburg</td>
				<td>W 44-42</td>
				<td>268</td>
				<td>37</td>
				<td>4</td>
			</tr>
			<tr>
				<td>Amador Valley</td>
				<td>W 58-21</td>
				<td>137</td>
				<td>13</td>
				<td>1</td>
			</tr>
			<tr>
				<td>Foothill</td>
				<td>L 54-55</td>
				<td>390</td>
				<td>39</td>
				<td>6</td>
			</tr>
		</tbody>
	</table>
</div>