<table>
    <tbody>
        <thead>
            <th><strong>Date</strong></th>
            <th><strong>Opponent</strong></th>
            <th><strong>Time</strong></th>
        </thead>
        <tr>
            <td>8/26</td>
            <td>Lincoln</td>
            <td>7 p.m.</td>
        </tr>
        <tr>
            <td>9/2</td>
            <td>@ Milpitas</td>
            <td>7 p.m.</td>
        </tr>
        <tr>
            <td>9/9</td>
            <td>San Leandro</td>
            <td>7 p.m.</td>
        </tr>
        <tr>
            <td>9/16</td>
            <td>@ Rancho Cotate</td>
            <td>7:30 p.m.</td>
        </tr>
        <tr>
            <td>9/23</td>
            <td>@ De La Salle</td>
            <td>7:30 p.m.</td>
        </tr>
        <tr>
            <td>10/7</td>
            <td>@ Freedom</td>
            <td>7 p.m.</td>
        </tr>
        <tr>
            <td>10/14</td>
            <td>Liberty</td>
            <td>7 p.m.</td>
        </tr>
        <tr>
            <td>10/21</td>
            <td>@ Deer Valley</td>
            <td>7 p.m.</td>
        </tr>
        <tr>
            <td>10/28</td>
            <td>Heritage</td>
            <td>7 p.m.</td>
        </tr>
        <tr>
            <td>11/5</td>
            <td>Pittsburg</td>
            <td>1:30 p.m.</td>
        </tr>
    </tbody>
</table>
