<header id="sticky-nav" class="fixed hide">
  <div class="navigation">
    
    <a href="http://www.sfchronicle.com" target="_blank">
      <div class="logo-link logo">
          <img src="http://projects.sfchronicle.com/shared/logos/sfletter_c_black.png">
        </div>
    </a>

    <div class="link">
      <a class="special-head home" href="{{ url_for('index') }}"><span class="show-for-860">The </span>Najee Chronicles: </a>
    </div>

    <div class="links">
      <a class="{%- if request.path == '/' %} active{% endif %}" href="{{ url_for('index') }}"><span class="show-for-860">The Player</span><span class="hide-for-860">1</span></a>
    </div>

    <div class="links">
      <a class="{%- if request.path == '/teammates/' %} active{% endif %}" href="{{ url_for('chaptertwo') }}"><span class="show-for-860">The Team</span><span class="hide-for-860">2</span></a>
    </div>

    <div class="links">
      <a class="{%- if request.path == '/the-opponent/' %} active{% endif %}" href="{{ url_for('opponent') }}"><span class="show-for-860">The Opponent</span><span class="hide-for-860">3</span></a>
    </div>

    <div class="links">
      <a class="{%- if request.path == '/home-life/' %} active{% endif %}" href="{{ url_for('home') }}"><span class="show-for-860">Home Life</span><span class="hide-for-860">4</span></a>
    </div>

    <div class="links">
      <a class="{%- if request.path == '/recruiting/' %} active{% endif %}" href="{{ url_for('recruit') }}"><span class="show-for-860">Recruiting</span><span class="hide-for-860">5</span></a>
    </div>

    <div class="links">
      <a class="{%- if request.path == '/the-pressure/' %} active{% endif %}" href="{{ url_for('six') }}"><span class="show-for-860">The Pressure</span><span class="hide-for-860">6</span></a>
    </div>

    <div class="link social">
      <a id="mail-icon" title="Share via email" href="mailto:?subject={{title|urlencode}}&body={{description|urlencode}}%0A%0Ahttp%3A%2F%2Fprojects.sfchronicle.com%2F{{config.SITE_PATH}}%2F{% if slug %}{{slug}}%2F{% endif %}">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>

    <div class="link social">
      <a id="facebook-icon" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F{{config.SITE_PATH}}%2F{% if slug %}{{slug}}%2F{% endif %}', 'facebook-share-dialog', 'width=626,height=436'); return false;">
        <i class="fa fa-facebook"></i>
      </a>
    </div>
    
    <div class="link social">
      <a id="twitter-icon" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fprojects.sfchronicle.com%2F{{config.SITE_PATH}}%2F{% if slug %}{{slug}}%2F{% endif %}&text={{twitter_text|urlencode}}&hashtags={{config.HASHTAG}}">
        <i class="fa fa-twitter"></i>
      </a>
    </div>

    
  
  </div>
</header>
