{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}

{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block hearst_title %}Overview{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div class="background-img overview">
		    <div class="dim"></div>
			<div class="over-img">
				<h1 class="title long">The Najee Chronicles</h1>
				<p class="deck">Chasing Najee Harris, the nation’s No. 1 recruit</p>
				<p class="author">By <a href="mailto:rkroichick@sfchronicle.com">Ron Kroichick</a></p>
			</div>
		</div>
	</div>

	<p class="caption landing">Antioch High School running back Najee Harris heads for the locker room after a practice this month.<span class="byline"> Michael Macor, The Chronicle</span></p>

	{% include '_assets/chapterone.html' %}
	
	<p class="text-hed">Najee Harris: The highlights</p>
	<p>The nation's No. 1 football recruit has had an abundance of highlights in his Antioch High career. Watch a 20-minute compilation here:</p>

	{% include '_assets/video-reel.html' %}


	<!-- <div class="dont-miss">
		<a href="{{ url_for('index') }}">
			<button>Next story</button>
			<div class="story chaptertwo">
				<div class="next-story">
					<p>For most hosts, rental rules mean little</p>
				</div>
				<div class="dim"></div>
			</div>
		</a>
	</div> -->

	{% include '_components/_footer.html' %}

</main>
{% endblock %}

{% block javascript %}

<script type="text/javascript">

  $(document).ready(function() {
		App.init();
	});

  // for photo gallery
	var gallery1_idx = 0;
	var gallery_len = 8;
	// set up clicking to update map interactive on mobile
	document.getElementById("scrollRight-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx+1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});
	document.getElementById("scrollLeft-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx-1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});


</script>

{% endblock %}
