{% extends 'base.html' %}

{% block title %}{{title|safe}}{% endblock %}
{% block hearst_title %}{{title|safe}}{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-09-22{% endblock %}
{% block hearst_author %}Ron Kroichick, Lucio Villa, Carlos Avila Gonzalez{% endblock %}


{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}
	{% include '_components/_header-sticky.html' %}

	<div class="title-container">
		<div id="chapterthree" class="background-img">
		    <div class="dim"></div>
			<div class="over-img">
				<h1 class="title long">Big stage,<br>bright spotlight</h1>
				<p class="author">Sept. 22, 2016 | By <a href="mailto:rkroichick@sfchronicle.com">Ron Kroichick</a></p>
				<p class="deck">The Najee Chronicles: Nation's No. 1 football recruit faces stiff test against De La Salle.</p>
				
			</div>
		</div>
	</div>

	<p class="caption landing">De La Salle-Concord head coach Justin Alumbaugh observes players during defensive drills a week before the Spartans take on Antioch High and star running back Najee Harris.<span class="byline"> Carlos Avila Gonzalez, The Chronicle</span></p>

	{% include '_assets/chapterthree.html' %}
	

	<div class="dont-miss">
		<a href="{{ url_for('index') }}">
			<button>CATCH UP ON THE NAJEE CHRONICLES</button>
			<div class="story overview" style="background-position:center">
				<div class="next-story">
					<p style="max-width:600px;">Chasing Najee Harris, the nation’s No. 1 recruit</p>
				</div>
				<div class="dim"></div>
			</div>
		</a>
	</div>

	<div class="max">
		<hr>
		<div class="credits">
			<div class="group">
				<p>Reporter</p>
				<div class="entry"><a href="mailto:rkroichick@sfchronicle.com">Ron Kroichick</a>
				</div>
			</div>
			<div class="group">
				<p>Photographer</p>
				<div class="entry"><a href="mailto:cgonzalez@sfchronicle.com">Carlos Avila Gonzalez</a>
				</div>
			</div>
			<div class="group">
				<p>Interactive Producer</p>
				<div class="entry"><a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a>
				</div>
			</div>
		</div>
	</div>

		{% include '_components/_footer.html' %}


</main>
{% endblock %}

{% block javascript %}

<script type="text/javascript">

  $(document).ready(function() {
		App.init();
	});

  // for photo gallery
	var gallery1_idx = 0;
	var gallery_len = 6;
	// set up clicking to update map interactive on mobile
	document.getElementById("scrollRight-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx+1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});
	document.getElementById("scrollLeft-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx-1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});


</script>

{% endblock %}
