{% extends 'base.html' %}

{% block title %}Najee Harris, nation's No. 1 football recruit, a team-first star{% endblock %}
{% block hearst_title %}{{title|safe}}{% endblock %}
{% block hearst_class %}article{% endblock %}
{% block hearst_date %}2016-09-09{% endblock %}
{% block hearst_author %}Ron Kroichick, Lucio Villa, John Blanchard, Michael Macor{% endblock %}


{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}
	{% include '_components/_header-sticky.html' %}

	<div class="title-container">
		<div id="chaptertwo" class="background-img">
		    <div class="dim"></div>
			<div class="over-img">
				<h1 class="title long">Team-first star</h1>
				<p class="author">Sept. 9, 2016 | By <a href="mailto:rkroichick@sfchronicle.com">Ron Kroichick</a></p>
				<p class="deck"><span class="ch-text">The Najee Chronicles, Chapter 2:</span><br>Antioch High's Najee Harris, the nation's No. 1 football recruit, excels as a teammate</p>
				
			</div>
		</div>
	</div>

	<p class="caption landing">Najee Harris (center) and the Antioch Panthers ride a bus to the South Bay to take on the Milpitas Trojans on Sept. 2.<span class="byline"> Michael Macor, The Chronicle</span></p>

	{% include '_assets/chaptertwo.html' %}
	

	<div class="dont-miss">
		<a href="{{ url_for('opponent') }}">
			<button>Chapter 3: The Opponent</button>
			<div id="chapterthree" class="story" style="background-position:center 77%">
				<div class="next-story">
					<p>Big stage, bright spotlight</p>
				</div>
				<div class="dim" style="opacity:0.4;"></div>
			</div>
		</a>
	</div>

	<div class="max">
		<hr>
		<div class="credits">
			<div class="group">
				<p>Reporter</p>
				<div class="entry"><a href="mailto:rkroichick@sfchronicle.com">Ron Kroichick</a>
				</div>
			</div>
			<div class="group">
				<p>Photographer</p>
				<div class="entry"><a href="mailto:cgonzalez@sfchronicle.com">Michael Macor</a>
				</div>
			</div>
			<div class="group">
				<p>Graphic Designer</p>
				<div class="entry"><a href="mailto:jblanchard@sfchronicle.com">John Blanchard</a>
				</div>
			</div>
			<div class="group">
				<p>Interactive Producer</p>
				<div class="entry"><a href="mailto:lvilla@sfchronicle.com">Lucio Villa</a>
				</div>
			</div>
		</div>
	</div>

		{% include '_components/_footer.html' %}


</main>
{% endblock %}

{% block javascript %}

<script type="text/javascript">

  $(document).ready(function() {
		App.init();
	});

  // for photo gallery
	var gallery1_idx = 0;
	var gallery_len = 8;
	// set up clicking to update map interactive on mobile
	document.getElementById("scrollRight-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx+1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});
	document.getElementById("scrollLeft-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx-1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});


</script>

{% endblock %}
