{% extends 'base.html' %}

{% block title %}{{title}}{% endblock %}
{% block hearst_title %}{{title|safe}}{% endblock %}
{% block hearst_class %}article{% endblock %}


{% block head %}
{% include '_components/_social.html' %}
{% endblock %}

{% block content %}
<main class="container">

	{% include '_components/_header.html' %}

	<div class="title-container">
		<div id="chaptertwo" class="background-img">
		    <div class="dim"></div>
			<div class="over-img">
				<h1 class="title long">Team-first star</h1>
				<p class="deck">The Najee Chronicles: Antioch High's Harris, nation's No. 1 recruit, excels as teammate</p>
				<p class="author">By <a href="mailto:rkroichick@sfchronicle.com">Ron Kroichick</a></p>
			</div>
		</div>
	</div>

	<p class="caption landing">Najee Harris (center) and the Antioch Panthers ride a bus to the South Bay to take on the Milpitas Trojans on Sept. 2.<span class="byline"> Michael Macor, The Chronicle</span></p>

	{% include '_assets/chaptertwo.html' %}
	

	<!-- <div class="dont-miss">
		<a href="">
			<button>Game one</button>
			<div class="story chaptertwo">
				<div class="next-story">
					<p>Read about Najee Harris' 2016 debut</p>
				</div>
				<div class="dim"></div>
			</div>
		</a>
	</div> -->

	<div class="max">
		<hr>
		<div class="credits">
			{% import '_components/_credits.html' as credit %}
			<!-- Variables are name, email slug and twitter handle -->
			<div class="group">
				<p>Reporter</p>
				{{ credit.info('Ron Kroichick', 'rkroichick', 'ronkroichick' ) }}
			</div>
			<div class="group">
				<p>Photographer</p>
				{{ credit.info('Michael Macor', 'mmacor', 'michaelmacor' ) }}
			</div>
			<div class="group">
				<p>Graphic Designer</p>
				<div class="entry">John Blanchard &bull;
					<a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a>
				</div>
			</div>
			<div class="group">
				<p>Interactive producers</p>
				{{ credit.info('Lucio Villa', 'lvilla', 'luciovilla' ) }}
				{{ credit.info('Benjamin Din', 'bdin', 'benjamindin' ) }}
			</div>
		</div>
	</div>

		{% include '_components/_footer.html' %}


</main>
{% endblock %}

{% block javascript %}

<script type="text/javascript">

  $(document).ready(function() {
		App.init();
	});

  // for photo gallery
	var gallery1_idx = 0;
	var gallery_len = 8;
	// set up clicking to update map interactive on mobile
	document.getElementById("scrollRight-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx+1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});
	document.getElementById("scrollLeft-Gallery1").addEventListener("click", function() {
	  gallery1_idx = gallery1_idx-1;
	  $(".photoG1").removeClass("active");
	  $("#photoG1"+gallery1_idx).addClass("active");
	  if (gallery1_idx == (gallery_len-1)) {
	    $("#scrollRight-Gallery1").addClass("last");
	  } else {
	    $("#scrollRight-Gallery1").removeClass("last");
	  };
	  if (gallery1_idx == 0) {
	    $("#scrollLeft-Gallery1").addClass("first");
	  } else {
	    $("#scrollLeft-Gallery1").removeClass("first");
	  };
	});


</script>

{% endblock %}
