body {
  background-color: $bg-color;
  font-size: $base-font;
  line-height:$line-height;
  color: $black;
  font-family: $serif;
}

img {
  vertical-align:text-bottom;
}

li {
  max-width: 650px;
  margin: 0 auto;
  @media #{$mobile} {
    margin: 0 5px;
  }
}

.fa {
  color: $gray-blue;
}

.max{
  max-width:900px;
  margin:0 auto;
  padding:0 12px;
}

.letter-begin {
  max-width: 730px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 1em;
  font-size: 1.2em;
  @media #{$mobile} {
      font-size: 1.0em;
  }
}

p {
  max-width: 730px;
  margin: auto;
  padding: 0 15px;
  margin-bottom: 1em;

  a {
    text-decoration: none;
    color: $gray-blue;
  }

  @media #{$mobile} {
      font-size: 0.8em;
  }

}

.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  left: 0;
  height: 37px;
}
.row{
  max-width: 730px;
  padding: 0 15px;
}

.background-img {
    height: 800px;
    background-size: cover;
    background-position: center center;
    position: relative;
    display: block;
    z-index: 1;

    @media #{$mobile} {
      height: 640px;
    }
}

.overview {
  background-image: url("http://ww1.hdnux.com/photos/51/21/44/10827782/5/2000x2000.jpg");
}



.dim {
  display: block;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    opacity: .4;
    height: 100%;
    background-color: #000;
    width: 100%;
    position: absolute;
    top: 0;
}

.full-width-img {
  margin: 2em auto;
  width: 100%;

  img {
    width:100%;
  }
}

.inline-img {
  max-width: 730px;
  margin: 2em auto;

  .caption{
    padding:0;

      @media #{$text-width}{
        padding:0 10px;
      }
  }
}

.inline-graphic {
    max-width: 1200px;
    margin: 2em auto;
    padding: 0 10px;
}
.too-big {
  text-align: center;
  img {
    max-width: 80%;
    margin: 0px auto;
    @media #{$mobile} {
      max-width: 100%;
    }
  }
}

.float-img-container {
  max-width: 735px;
  width: 100%;
  margin: 0 auto;
}

.float-img {
    max-width: 420px;
    &.vertical {
      max-width: 400px;
    }

    @media (max-width: 861px){
      float: none;
      margin: 2em auto;
    }

    .caption{
      padding:0;
    }

    @media #{$text-width}{
      padding:0 10px;
    }

    &.left {
      float: left;
      margin: 1em 1.5em 0.5em -7.5em;

      @media (max-width: 1072px){
        float: none;
        margin: 2em auto;
      }
    }
    &.right {
      float: right;
      margin: 1em -7.5em 0.5em 1.5em;

      @media (max-width: 1072px){
        float: none;
        margin: 2em auto;
      }
    }
    &.center {
      margin: 0 auto;
      max-width: 600px;
    }
}

// navigation ---------------------------------------------------------

.navigation {
  width: 100%;
  font-family: $banner;
  // text-transform: uppercase;
  font-size: 18px;
}

header {
  background: $header;
  overflow: visible;
  opacity: 0.9;
  a {
    color: #333;
  }
}

.menu-btn {
  line-height: 1;
  float:right;
}

.menu-icon{
  background: $link;
  padding: 11px 19px 10px 15px;
}

.menu-icon:after{
  height:3px;
}
.menu-icon:hover::after {
    background: #fff;
    box-shadow: 0 7px 0 #fff, 0 14px 0 #fff;
}

.jump-navigation {
  background: $header;
  text-align: center;
  margin: auto;
  width: inherit;
  height: 40px;
  margin-top: 5px;
  &.clicked {
    display: none;
  }
}

.jump-links {
  a {
    color: #CECECE;
    text-decoration:none;
  }
  color: white;
  @media #{$mobile} {
    font-size: 20px;
  }
}

.jump-navigation {
  display: none;
  &.sticky {
    display: inline;
  }
  padding-left: 0;
  padding-right: 0;
}

.link, .links {
  padding: 5px 10px 7px;
  font-size:16px;
  font-family: $serif;
  vertical-align: text-bottom;
  cursor: pointer;

  &.active {
    background: #a2a2a2;
    color: #fff;
  }

  &.special {

    a {
      color: $gray-blue;
    }
  }
  &.social {
    float: right;
    margin: 0 6px;
    padding: 4px 2px;
  }
}
.logo-link {
  cursor: pointer;
  margin: 0;
  img {
    opacity: 1;
    height: 20px;
  }
}

.links{
  @media (max-width:480px){
    padding: 5px 5px 7px 0;
  }
}

.subscribe {
  float: right;
  // margin-right: 10px;
}

.link, .logo-link, .links {
  display: inline-block;
}

#sticky-element.sticky {
  -webkit-box-shadow: 0 0 6px 0 $dark-gray;
  -moz-box-shadow: 0 0 6px 0 $dark-gray;
  box-shadow: 0 0 6px 0 $dark-gray;
  z-index: 100;
  position: fixed;
  top: 0;
  margin-top: 0px;
  text-align: left;
  @media #{$mobile} {
    top: unset;
    bottom: 0;
    font-size: 14px;
    vertical-align: bottom;
  }

}

header {
  -webkit-box-shadow: 0 0 6px 0 $dark-gray;
  -moz-box-shadow: 0 0 6px 0 $dark-gray;
  box-shadow: 0 0 6px 0 $dark-gray;

  a {
    text-decoration:none;
  }

  .logo {
    float: left;
    padding: 3px 10px 6px 10px;
    margin: 0;
      img {
       vertical-align: text-bottom;
      }
      @media #{$mobile} {
       display: none;
     }
  }
  .mobile-logo {
    display: none;
     @media #{$mobile} {
       display: inline;
     }
    img {
      height: 16px;
      vertical-align: baseline;

    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

#mobile-menu{
    display:none;
    position: fixed;
    z-index: 5;
    width: 100%;
    top: 37px;
    background: white;
    height: 250px;
    padding-top: 10px;
    box-shadow: 0 0 6px 0 #696969;

    ul {
      text-align: center;
      padding: 0;
    }

    li {

      a{
        color:$link;
        text-decoration:none;
      }
    }
}

.project-logo {
  max-width: 730px;
  margin: 0 auto;
  img {
    width: 160px;
    padding-left: 15px;
    float:right;
    margin-top: -100px;
    @media #{$mobile} {
      float: none;
      width: 150px;
      padding-right: 10px;
      margin-top: 0px;
    }
  }
  &.small {
    float: left;
    margin: 0;
    margin-right: 10px;
    img {
      width: 240px;
      margin-top: 0;
      margin-bottom: 5px;
    }
    @media #{$mobile} {
      margin-right: 0;
    }
  }


}

.social-section {
  text-align: center;
  font-style: italic;
  font-size: 17px;
  padding-top: 20px;
  a {
    text-decoration:none;
    color: $red;
  }
}

.database {
    max-width: 750px;
    margin: 2.5em auto 0 auto;
}

.partners {
  text-align: center;
  display: inline-block;
  font-family: $serif;
  .partner-name {
    display: inline-block;
    padding: 0 20px;
    a {
      text-decoration:none;
      color: $red;
      font-size: 0.8em;
      font-family: $banner;
    }
  }
}

footer {
  background: $df-charcoal;
  opacity: 0.95;
  padding: 0 10px;
  position: relative;
  z-index: 99;
  margin-top: 10px;
  clear:both;

  .logo {
    float: left;
    margin-right: 10px;

    img {
      padding: 10px 0;
      width: 180px;
      vertical-align: bottom;
    }
  }

  &::after {
    clear: both;
    content: " ";
    display: block;
  }
}

.title-container {

  &.top-margin {
    margin-top: 3.5em;
  }
}

.title {
  font-family: $sans-serif-light;
  font-size: 60px;
  padding: 0 10px;
  text-align: left;
  margin: 10px auto 0;
  width:100%;

  &.long {
    font-size: 2.6em;
    line-height: 1.2;
    margin: 20px auto 0;
    margin-top: 10px;
    margin-bottom: 0;

  &.text-width {
    max-width:800px;
  }

    @media #{$mobile} {
      font-size: 1.6em;
    }

    @media (max-width: 480px){
    font-size: 1.6em;
    }
  }
}

.over-img {
  position: absolute;
  bottom: 15%;
  z-index: 2;
  color: white;
  left: 1%;

  @media #{$mobile} {
    left:0;
    bottom:15%;
  }
}

.special-head {   
  color: #000;    
  font-family: $sans-serif;   
  font-size: 16px;

  @media (max-width:480px){
    font-size:12px;
  }
  
}

#sticky-nav{
  opacity:1;

  .link{
    padding: 5px 0 7px 0;
  }  
}

.specialhead {
  text-align: center;
  text-transform: uppercase;
  color: #9bb5d8;
  font-family: "Dispatch";
  font-size: 15px;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.61);
  max-width: 320px;
  padding: 2px 0px;
}

.paststorylink {
  font-size: 16px;
  &.one {
    margin-top: 40px;
  }
  text-align: center;
  font-style: italic;
  a {
    text-decoration:none;
    color: $link;
  }
}

.subhead {
    font-family: "FarnhamDisplayLight";
    font-weight: 400;
    font-size: 1em;
    padding: 0 10px;
    text-align: center;
    margin: 0 auto 1em;
    line-height: 1.2;
    max-width: 785px;
}

.credit {
  text-align: left;
  clear: left;
  padding-top: 10px;
  font-size: 12px;
  color: $dark-gray;
  font-style: italic;
  font-family: $block-graphics;
  @media #{$tablet} {
    padding: 0px 10px;
    padding-top: 10px;
  }
  @media #{$mobile} {
    padding: 0px 10px;
    padding-top: 10px;
  }
  &.padded {
    padding-bottom: 40px;
  }
  &.second {
    padding-top: 0px;
  }
}

.caption {
  text-align: left;
  font-family: $sans-serif;
  font-size: 12px;
  margin-top: 5px;
  padding: 0 10px;
  max-width: 100%;
  &.landing {
    margin-bottom: 2.5em;
  }

  .year {
    font-family:$banner;
    color:$red;
  }
}

.byline {
  color: #6D6D6D;
  font-style: italic;
}

.text-hed {
  font-size: 1.2em;
  margin-bottom: 15px;
  margin-top: 35px;
  font-family: $body-bold;
  &.padded {
    padding-top: 10px;
  }
}

.whatif-box {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  font-size: 18px;
  @media #{$mobile} {
    font-size: 14px;
  }
}


#social {
  text-align: center;
  a {
    font-size: 25px;
    padding: 8px;
    color: $share-gray;
    cursor: pointer;
    &:hover {
      color: $light-gray;
      cursor: pointer;
    }
  }
}

#social-inline {
  .social {
    display: inline-block;
    padding: 0 10px;
    float: left;
  }
  a {
    font-size: 20px;
    color: $share-gray;
    cursor: pointer;
    &:hover {
      color: $light-gray;
      cursor: pointer;
    }
  }
}

.author {
    margin-top: 10px;
    font-size: 15px;
    text-align: center;
    margin-bottom:0;
    padding: 5px 15px;


    a {
      color:#fff;
      border-bottom:1px solid #ccc;
    }
}
.date {
    font-size: 15px;
    text-align: center;
    margin-bottom: 40px;
}

.dont-miss-related {
  max-width: 900px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  font-size: 17px;
  font-family: $block-graphics;

  .story {
    flex: 0 0 25%;

    &.three {
      flex: 0 0 33%;

        @media screen and (max-width: 560px) {
            flex: 1 1 100%;
       }
    }


     @media screen and (max-width: 560px) {
          flex: 1 1 100%;
     }

    & a {
        text-decoration: none;
        color: #333;
        line-height: 1.2;
    }
  }

  .padded {
    padding: 10px;
  }
  h4 {
    margin-top:2px;
    line-height: 1.2;
    font-size:0.9em;
  }
  img {
    width: 100%;
  }
}


.dont-miss {
  max-width: 900px;
  text-align: center;
  margin: 2em auto 0;
  font-size: 17px;

  button {
    background: #e4e4e4;
    text-transform: uppercase;
    font-family:$sans-serif;
  }

  a {
    color:#6C85A5;
    text-transform:uppercase;
  }

  .story {

  width: 100%;
  text-align: center;
  min-height: 300px;
  background-size: cover;
  position: relative;

    a {
        text-decoration: none;
        color: #333;
        line-height: 1.2;
    }
  }

  .padded {
    padding: 10px;
  }
  .next-story {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    color: #fff;
    z-index:3;
    font-size:2em;
    font-family:$serif-bold;
    text-transform: none;
    line-height: 1.2;
    padding: 0 15px;
    margin: 0 auto;

    p{
      max-width: 750px;
    }

    @media #{$mobile} {
      font-size:1.8em;
      top:30%;
    }


  }
  img {
    width: 100%;
  }
}

.divider-text {
  margin: 0 auto 1em;
  font-family: $sans-serif;
}

.divider {
  border-bottom: 1px black solid;
  height: 2px;
  width: 60%;
  margin: 20px auto;
  margin-top: 0;
}

.credits {
  margin: 30px auto;
  font-size: 15px;
  font-family: $body;
  text-align: center;
  margin-bottom: 40px;
  a {
    text-decoration:none;
    color: $link;
  }

  .group {
    margin-bottom:1em;

    p {
      margin:0 auto;
      font-size:15px;
    }
  }
}

hr{
  margin-top:2em;
  border-top: 1px solid #ccc;
  border-bottom: none;
  width: 75%;
}

.interactive{
  max-width: 900px;
  margin: 2em auto;
  padding: 0 12px;
}

#infobox{
  float: right;
  width: 30%;
  color: #585858;
  font-family: $sans-serif;
  margin: 0 2em 2em;
  font-size: 15px;
  border-left: 5px solid #ccc;
  padding-right: 2em;

  @media (max-width: 890px){
    float: none;
    width: 80%;
    max-width: 276px;
    padding: 0 10px;
    margin: 2em auto;
  }

  p{
    max-width: 257px;
    margin: 0 0 1em;
    font-size:14px;

    @media (max-width: 890px){
      max-width: 730px;
    }
  }
}



.mobile-only {
  @media screen and (min-width: 769px) {
    display: none;
  }
}

.not-mobile {
  @media #{$tablet} {
    display: none;
  }
}

.no-mobile {
  img {
    text-align: center;
  }

  @media screen and (min-width: 481px) {
    display: none;
  }
}

.mobile {
  @media #{$mobile} {
    display: none;
  }
}

#read, #next {
  height: 2em;

  @media #{$tablet} {
  height: 45px;
  }

  @media #{$mobile} {
  height: 0;
  }
}

button {
  background: #b2b2b2;
  padding: 10px 20px 10px 20px;
}

#button-styling a {
  color: #FF0000;
  text-decoration: none;
}

#button-styling {
  padding-top: 2em;
  width: 50%;
  margin: 0 auto;

  @media #{$tablet} {
  width: 100%;
  }
}

// styles for photo galleries --------------------------------------------------

.photoGallery1 {
  max-width: 900px;
  position: relative;
  margin: 30px auto;
  @media #{$mobile} {
    margin: 20px auto;
  }
  .photoG1 {
    display: none;
    width: 80%;
    @media #{$mobile} {
      width: 100%;
    }
    margin: auto;
    &.active {
      display: inherit;
      text-align: center;
    }
  }
}

.scrollRight-Gallery1, .scrollLeft-Gallery1 {
  position: absolute;
  cursor: pointer;
  z-index: 50;
  font-size: 50px;
  width: 8%;
  color: black;
  height: 100%;
  .fa {
    margin-top: 200px;
    @media #{$mobile} {
      margin-top: 60px;
    }
  }
}
.scrollRight-Gallery1 {
  left: 92%;
  &.last {
    display: none;
  }
}
.scrollLeft-Gallery1 {
  left: 5%;
  @media #{$mobile} {
    left: 2%;
  }
  &.first {
    display: none;
  }
}

.photoG1 {
  width: 80% !important;
}

.setup-mobile-pies {
  display:none;
  @media #{$mobile} {
    display: block;
  }
}

.setup-pies {
  @media #{$mobile} {
    display: none;
  }
}

// video embed code ------------------------------------
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}



.source {
    clear: left;
    padding-top: 20px;
    font-size: 12px;
    color: #696969;
    font-style: italic;
    font-family: "AntennaExtraLight";

    @media #{$tablet} {
      padding-left: 10px;
    }

    a {
        color: #EC1C24;
        text-decoration: none;
    }

    a:hover {
        color: #2b4d70;
    }
}

td, th {
  background: white;
}

tr {
    border-bottom: 1px solid #d3d3d3;
}

th {
  font-size: 0.6em;
}

td {
  font-size: 0.6em;
  line-height: 1.2em;
  padding: 0.3rem;
}

.last-column {
  text-align: right;
  font-weight: bold;
}

.footnote {
  text-align: right;
  padding-right: 10px;
  font-size: 0.5em;
  font-family: $sans-serif;
  margin-bottom: 2em;
}

.bottom-footnote {
  margin-top:3em;
  font-style: italic;
  font-size: 0.7em;
}

.over-img p {
  width:100%;
  text-align:left;
  margin: 0;
}

#ch1-video{
  max-width:800px;
  margin:1em auto;

  video{
    width:100%;
  }
}

.college-box, .colleges {
  width: 70%;
  margin: 30px auto;
  overflow: auto;
  text-align: center;
  max-width: 800px;

  @media #{$tablet} {
    width: 85%;
  }

  @media #{$mobile} {
    width: 95%;
  }

}

.colleges{
  margin-bottom:3em;
}

.college-hed {
  font-family: AntennaRegular;
  text-align: center;
}

.college-chatter {
  font-family: AntennaExtraLight;
  text-align: center;
  font-size: 18px;
  border-bottom: 1px solid #afafaf;
}

.college {
  width: auto;
  font-family: AntennaExtraLight;
  font-size: 18px;
  padding: 6px 8px;
  text-align: center;
  margin: 3px 2px;
  background-color: white;

  @media #{$tablet} {
    font-size: 15px;
    padding: 3px 4px;
  }

}

button {
  cursor: default !important;
}

table {
  font-family: AntennaExtraLight;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  max-width: 730px;
}

.schedule {
  text-align: left;
}

.schedulebox {
    max-width: 550px;
    width: 100%;
    text-align: center;
    margin: 3em auto;
    padding: 0 1em;
}

th, td {
  font-size: 0.7em;

  @media #{$mobile} {
    font-size: 0.6em;
  }
}

th {
  font-family: AntennaRegular;
}

th:nth-child(1) {
  text-align: left;
}


.jryr {
  td:nth-child(5n+1) {
    text-align: left;
  }

  th:nth-child(5) {
    @media #{$mobile} {
      text-align: right;
    }
  }

  td:nth-child(5n+5) {
    @media #{$mobile} {
      text-align: right;
    }
  }

  th:nth-child(2) {
    @media #{$mobile} {
      display: none;
    }
  }

  td:nth-child(5n+2) {
    @media #{$mobile} {
      display: none;
    }
  }
}

.navigation{
  .active{
    border-bottom: 2px solid #ccc;
  }
  @media #{$mobile}{
    padding-left: 10px;
  }
}

.ch-text{
  font-family: $sans-serif;
  font-weight: 600;
}

.show-for-860{
  @media (max-width:970px){
  display:none;
  }
}

.hide-for-860{
  display:none;
  @media (max-width:970px){
  display:inline-block;
  }
}

